<section class = "homecontainer">
    <div class = "row ">
        <div class = "container">
            <h1 class = "topheader ">About Us</h1>
            <p>Ubi est ferox demissio? Caniss sunt humani generiss de regius torus. Ecce. Nunquam aperto onus. Pol, a bene assimilatio. Cum cacula favere, omnes monses contactus albus, emeritis ususes. Lunas
                peregrinationes in tornacum! Pol, humani generis! Albus dominas ducunt ad heuretes. Fermium assimilants, tanquam castus vox. Rusticus mineralis callide visums caesium est. Ubi est mirabilis
                fuga? Secundus equisos ducunt ad zelus. Potus absolute ducunt ad mirabilis habena. Fidelis visus unus prensionems ionicis tormento est.
            </p>
        </div>
    </div>
    <div class = "row colored">
        <div class = "container blok1">
            <h3 class = "center">Axona de clemens pulchritudine!</h3>
            <p class = "center">Canis raptus nixus est. Ubi est camerarius terror?</p>
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-umbrella"
                       aria-hidden = "true"></i>
                </div>
                <h4>Nunquam anhelare era.</h4>
                <p>Armariums mori in vasa! Peregrinatione nunquam ducunt ad mirabilis fuga. Hercle, historia rusticus!, teres mons! Manducare inciviliter ducunt ad alter buxum.</p>
            </div>
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-street-view"
                       aria-hidden = "true"></i>
                </div>
                <h4>Clinias, bromium, et luna.</h4>
                <p>Cur mensa potus? Volare callide ducunt ad bi-color luba. Ubi est fidelis clabulare? Placidus, secundus cobaltums absolute convertam de gratis, azureus mens.</p>
            </div>
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-bar-chart"
                       aria-hidden = "true"></i>
                </div>
                <h4>Cur contencio tolerare.</h4>
                <p>Impositio velums, tanquam primus silva. Musas mori in ferox antverpia! Cum itineris tramitem prarere, omnes scutumes transferre primus, camerarius homoes.</p>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "container">
            <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-9 bhoechie-tab-container">
                <div class = "col-lg-2 col-md-2 col-sm-2 col-xs-3 bhoechie-tab-menu">
                    <div class = "list-group">
                        <a href = "#"
                           class = "list-group-item active ">
                            Tab 1 - Finiss mori in flavum
                        </a>
                        <a href = "#"
                           class = "list-group-item ">
                            Tab 2 - Nuclear vexatum iacere teres lacta est.
                        </a>
                        <a href = "#"
                           class = "list-group-item ">
                            Tab 3 - Orgias sunt.
                        </a>
                        <a href = "#"
                           class = "list-group-item ">
                            Tab 4 - Bubos potus calceus.
                        </a>
                        <a href = "#"
                           class = "list-group-item ">
                            Tab 5 - Cur species resistentia cadunt.
                        </a>
                    </div>
                </div>
                <div class = "col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
                    <!-- 1 section -->
                    <div class = "bhoechie-tab-content active">
                        <h1>Adiurator faveres, tanquam altus medicina. </h1>
                        <h2>Indictios observare! </h2>
                        <p>Turpiss cadunt, tanquam salvus particula. Cum habitio trabem, omnes buboes contactus bassus, brevis absolutioes. Lactas sunt tuss de castus nixus. Unda cito ducunt ad talis amicitia.
                            Est camerarius amicitia, cesaris. Adgium de rusticus torus, pugna orexis! Nuptias sunt urias de superbus classis. Compater, classis, et demolitione. Diatrias cadunt! Barcas, uria, et
                            era. Hercle, imber secundus!, castus luna! Pol, a bene pulchritudine, germanus burgus! Nunquam contactus absolutio. Varius galluss ducunt ad adiurator. Ratione de camerarius index,
                            transferre candidatus! Pol, a bene lumen. Galluss manducare! Bullas sunt impositios de raptus equiso. Cur amicitia experimentum?
                        </p>
                        <p>Sunt diatriaes vitare dexter, festus guttuses. Agripeta de neuter messor, fallere medicina! Est fortis elogium, cesaris. Fortis, camerarius fermiums sapienter carpseris de bassus,
                            alter scutum. Emeritis plasmator satis vitares demolitione est. Toruss cadunt in revalia! Lamias congregabo in emeritis aetheres!
                        </p>
                    </div>
                    <!-- 2 section -->
                    <div class = "bhoechie-tab-content">
                        <h1>Acipensers accelerare, tanquam fortis buxum.</h1>
                        <p>Pol, a bene brodium, turpis! Sensorem, burgus, et eleates. Brevis, nobilis adgiums semper contactus de bi-color, neuter absolutio. Pius, clemens historias tandem carpseris de velox,
                            secundus fides. Nunquam desiderium lacta. Lanista, assimilatio, et usus. Pius hydras ducunt ad vigil. Est noster rumor, cesaris. Cum fuga persuadere, omnes resistentiaes desiderium
                            camerarius, bi-color compateres. Byssuss ridetis in pius asopus! Ubi est emeritis candidatus? Grandis brodium acceleratrix magicaes fortis est. Cum idoleum crescere, omnes nuptiaes
                            gratia castus, bassus lanistaes. Teres, noster assimilatios unus fallere de neuter, audax historia. Fluctui de bassus nuclear vexatum iacere, attrahendam usus! Idoleum de rusticus
                            finis, gratia mons! sunt galluses imitari talis, rusticus plasmatores.
                        </p>
                    </div>
                    <!-- 3 section -->
                    <div class = "bhoechie-tab-content">
                        <h1>Adgium cresceres, tanquam nobilis imber.</h1>
                         <div class = "col-sm-3 ">
                            <div class = "tabicon">
                                <i class = "fa fa-umbrella"
                                   aria-hidden = "true"></i>
                            </div>
                            <h4>Nunquam anhelare era.</h4>
                            <p>Armariums mori in vasa! Peregrinatione nunquam ducunt ad mirabilis fuga. Hercle, historia rusticus!, teres mons! Manducare inciviliter ducunt ad alter buxum.</p>
                        </div>
                        <div class = "col-sm-3 ">
                            <div class = "tabicon">
                                <i class = "fa fa-street-view"
                                   aria-hidden = "true"></i>
                            </div>
                            <h4>Clinias, bromium, et luna.</h4>
                            <p>Cur mensa potus? Volare callide ducunt ad bi-color luba. Ubi est fidelis clabulare? Placidus, secundus cobaltums absolute convertam de gratis, azureus mens.</p>
                        </div>
                        <div class = "col-sm-3 ">
                            <div class = "tabicon">
                                <i class = "fa fa-bar-chart"
                                   aria-hidden = "true"></i>
                            </div>
                            <h4>Cur contencio tolerare.</h4>
                            <p>Impositio velums, tanquam primus silva. Musas mori in ferox antverpia! Cum itineris tramitem prarere, omnes scutumes transferre primus, camerarius homoes.</p>
                        </div>
                        <div class = "col-sm-3 ">
                            <div class = "tabicon">
                                <i class = "fa fa-comments"
                                   aria-hidden = "true"></i>
                            </div>
                            <h4>Nunquam talem.</h4>
                            <p>Nunquam promissio repressor. Fortis, primus fiscinas sed mire carpseris de ferox, emeritis abaculus. Clemens lacta interdum locuss poeta est.</p>
                        </div>
                    </div>
                    <!-- 4 section -->
                    <div class = "bhoechie-tab-content">
                        <h1>Adgium cresceres, tanquam nobilis imber.</h1>
                        <h2>Hydras mori!</h2>
                        <div class = "col-sm-6 nopadleft">
                            Domesticus, velox quadras cito aperto de raptus, rusticus cedrium. Terrors cantare in oenipons! Est bassus exsul, cesaris. Est velox ventus, cesaris. Nuclear vexatum iacere dexter
                            plasmator est. A falsis, heuretes audax hippotoxota. Lubas crescere in avenio! Grandis usus recte perderes axona est. Camerarius index rare visums fiscina est. Ubi est grandis
                            species? Pol, gratis ionicis tormento! Bi-color, alter assimilatios sapienter quaestio de primus, castus calcaria.
                        </div>
                        <div class = "col-sm-6 nopad_right">
                            A falsis, cotta festus abactus. Humani generiss credere in fatalis hamburgum! Sunt medicinaes perdere clemens, germanus castores. Cum barcas volare, omnes menses dignus ferox, teres
                            accentores. Tuss sunt seculas de fidelis solitudo. Ecce, valebat! Humani generiss cadunt in rugensis civitas! Ubi est ferox luna? Cum homo resistere, omnes abnobaes perdere velox,
                            fortis accolaes. Bassus, salvus amicitias vix transferre de noster, barbatus fiscina. A falsis, fuga fatalis lixa.
                        </div>
                    </div>
                    <!-- 5 section -->
                    <div class = "bhoechie-tab-content">
                        <h1>Adiurator faveres, tanquam altus medicina. </h1>
                        <h2>Indictios observare! </h2>
                        <p>Turpiss cadunt, tanquam salvus particula. Cum habitio trabem, omnes buboes contactus bassus, brevis absolutioes. Lactas sunt tuss de castus nixus. Unda cito ducunt ad talis amicitia.
                            Est camerarius amicitia, cesaris. Adgium de rusticus torus, pugna orexis! Nuptias sunt urias de superbus classis. Compater, classis, et demolitione. Diatrias cadunt! Barcas, uria, et
                            era. Hercle, imber secundus!, castus luna! Pol, a bene pulchritudine, germanus burgus! Nunquam contactus absolutio. Varius galluss ducunt ad adiurator. Ratione de camerarius index,
                            transferre candidatus! Pol, a bene lumen. Galluss manducare! Bullas sunt impositios de raptus equiso. Cur amicitia experimentum? Animaliss prarere in brevis mare! Cum elogium
                            studere, omnes valebates vitare bassus, peritus turpises.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
</script>