<section class = "homecontainer" data-ng-controller="blogger">
    <div class = "row">
        <div class = "container">
            <h1 class = "topheader">About Us</h1>
            <div class = "col-sm-12">
                 <p>FantasyCars&#8482; started as one of the Internet's very first car websites, launching in 1998 and becoming one of the 10 most visited car websites by 2003.</p>
                <p>Today, FantasyCars&#8482; aims to become the premier automotive digital media brand, the de-facto source for reviews, photos, videos and technical data for the world's most  desirable cars, that we like to call FantasyCars&#8482;.</p>
                <p> We are currently building an extensive network of contributors worldwide. If your passion is cars, get in touch.</p>
            </div>
        </div>
    </div>
</section>
