<section>
    <div class = "row">
        <div class = "container"
             ng-controller = "carRequest as vm">
            <h1 class = "topheader">{{ 'carrequest_header1' | translate }}</h1>
                 <h3 class = "topheader">{{ 'carrequest_header2' | translate }}</h3>
                <form name = "carsearch"
                      id = "carsearch"
                      novalidate
                      angular-validator>
                    <div>
                        <h3 type = "h3"
                            class = "header"
                            name = "">{{ 'carrequest_personal_header' | translate }}</h3>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4 col-sm-12">
                        <label for = "name"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.name.$error.required">*</span>
                        </label>
                        <input type = "text"
                               required
                               data-ng-model = "vm.carreq.name"
                               placeholder = "{{ 'carrequest_name' | translate }}"
                               class = "form-control"
                               name = "name"
                               id = "name"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-email form-group field-email col-md-4 col-sm-6">
                        <label for = "email"
                               class = "fb-email-label">
                            <span class = "required"
                                  ng-if = "carsearch.email.$error.required">*</span>
                        </label>
                        <input type = "email"
                               data-ng-model = "vm.carreq.email"
                               required
                               placeholder = "{{ 'carrequest_email' | translate }}"
                               class = "form-control"
                               name = "email"
                               id = "email"
                               validate-on = "blur"
                               invalid-message = "'Please enter a valid email..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-phone col-md-4 col-sm-6">
                        <label for = "phone"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.phone.$error.required">*</span>
                        </label>
                        <input type = "number"
                               data-ng-model = "vm.carreq.phone"
                               required
                               placeholder = "{{ 'carrequest_number' | translate }}"
                               class = "form-control"
                               name = "phone"
                               id = "phone"
                               validate-on = "blur"
                               ng-minlength = "10"
                               invalid-message = "'You need at least 10 numbers..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-make col-md-4 col-sm-6">
                        <label for = "province"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.make.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.province"
                               required
                               placeholder = "{{ 'carrequest_province' | translate }}"
                               class = "form-control"
                               name = "province"
                               id = "province"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-make col-md-4 col-sm-6">
                        <label for = "make"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.make.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.make"
                               required
                               placeholder = "{{ 'carrequest_make' | translate }}"
                               class = "form-control"
                               name = "make"
                               id = "make"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-model col-md-4 col-sm-6">
                        <label for = "model"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.model.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.model"
                               required
                               placeholder = "{{ 'carrequest_model' | translate }}"
                               class = "form-control"
                               name = "model"
                               id = "model"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-year col-md-4 col-sm-6">
                        <label for = "year"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.year.$error.required">*</span>
                        </label>
                        <input type = "number"
                               data-ng-model = "vm.carreq.year"
                               required
                               placeholder = "{{ 'carrequest_year' | translate }}"
                               class = "form-control"
                               name = "year"
                               id = "year"
                               ng-minlength = "4"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group fieldcolour col-md-4 col-sm-6">
                        <label for = "colour"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.colour.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.colour"
                               required
                               placeholder = "{{ 'carrequest_colour' | translate }}"
                               class = "form-control"
                               name = "colour"
                               id = "colour"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-lessthan col-md-4 col-sm-6">
                        <label for = "lessthan"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "carsearch.lessthan.$error.required">*</span>
                        </label>
                        <input type = "number"
                               data-ng-model = "vm.carreq.lessthan"
                               required
                               placeholder = "{{ 'carrequest_price' | translate }}"
                               class = "form-control"
                               name = "lessthan"
                               id = "lessthan"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div>
                        <h3 type = "h3"
                            class = "header"
                            name = "">{{ 'carrequest_description_header' | translate }}</h3>
                    </div>
                    <div class = "fb-undefined form-group field-message">
                        <label for = "pdescription"
                               class = "fb-textarea-label"></label>
                        <textarea type = "textarea"
                                  data-ng-model = "vm.carreq.pdescription"
                                  class = "form-control"
                                  name = "pdescription"
                                  id = "pdescription"
                                  placeholder = "{{ 'carrequest_description' | translate }}"></textarea>
                    </div>
                    <div class = "fb-button form-group field-buttsubmit">
                        <button type = "button"
                                ng-click = "vm.sendMail()"
                                class = "button-input btn btn-primary"
                                ng-disabled = "carsearch.$invalid"
                                name = "buttsubmit"
                                id = "buttsubmit">{{ 'carrequest_submit' | translate }}
                        </button>
                    </div>
                </form>
                <span id = "mailsent">{{ 'carrequest_sent' | translate }}</span>
                <span id = "mailnotsent">{{ 'carrequest_notSent' | translate }}</span>
                <span id = "spinner"><i class = "fa fa-circle-o-notch fa-spin"
                                        aria-hidden = "true"></i>{{ 'carrequest_process' | translate }}</span>

         </div>
    </div>
</section>


