<div class = "entry-header" id = "top">
    <div id = "breadcrumbspage" class = "container">
        <h1 class = "entry-title" ng-init = "pagetitle='Service Request'">
            <a ui-sref = "home">Home<i class = "fa fa-caret-right" aria-hidden = "true"></i></a>
            Service Request</h1>
    </div>
</div>
<section>
    <div class = "container" ng-controller = "carService as vm">
        <div class = "col-md-9">
            <h2>Request a vehicle service by filling out the form below!</h2>
            <form name = "carService" id = "carService" novalidate angular-validator>
                <div>
                    <h3 type = "h3" class = "header" name = "">Personal Details</h3>
                </div>
                <div class = "fb-text form-group field-name col-md-12">
                    <label for = "name" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.name.$error.required">*</span>
                    </label>
                    <input type = "text"
                           required
                           data-ng-model = "vm.service.name"
                           placeholder = "Your Full Name"
                           class = "form-control"
                           name = "name"
                           id = "name"
                           ng-minlength = "3"
                           validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-email form-group field-email col-md-6">
                    <label for = "email" class = "fb-email-label"></label>
                    <span class = "required" ng-if = "carService.email.$error.required">*</span>
                    <input type = "email" data-ng-model = "vm.service.email" required placeholder = "Email"
                           class = "form-control" name = "email" id = "email"
                           validate-on = "blur" invalid-message = "'Please enter a valid email..'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-phone col-md-6">
                    <label for = "phone" class = "fb-text-label"></label>
                    <span class = "required" ng-if = "carService.phone.$error.required">*</span>
                    <input type = "number" data-ng-model = "vm.service.phone" required placeholder = "Phone"
                           class = "form-control" name = "phone" id = "phone"
                           validate-on = "blur" ng-minlength = "10" invalid-message = "'You need at least 10 numbers..'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-select form-group field-dealer col-md-6">
                    <label for = "dealer" class = "fb-select-label">Select your closest dealer
                        <span class = "required" ng-if = "carService.dealer.$error.required">*</span>
                    </label>
                    <select type = "select"
                            data-ng-model = "vm.service.dealer"
                            required
                            class = "form-control col-md-1"
                            name = "dealer"
                            id = "dealer"
                            validate-on = "dirty"
                            required-message = "'This field is required..'">
                        <option value = "" selected = "true">--Select a Dealer--</option>
                        <option value = "Centurion">Centurion</option>
                        <option value = "Roodepoort">Roodepoort</option>
                        <option value = "Vereeniging">Vereeniging</option>
                    </select>
                </div>
                <div class = "fb-text form-group field-date col-md-6">
                    <label for = "date" class = "fb-text-label">Select preferred date
                        <span class = "required" ng-if = "carService.date.$error.required">*</span>
                    </label>
                    <input type = "date" data-ng-model = "vm.service.date" required placeholder = "VIN Number"
                           class = "form-control" name = "date"
                           id = "date" ng-minlength = "3" validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-make col-md-6">
                    <label for = "make" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.make.$error.required">*</span>
                    </label>
                    <input type = "text"
                           data-ng-model = "vm.service.make"
                           required
                           placeholder = "Make"
                           class = "form-control"
                           name = "make"
                           id = "make"
                           ng-minlength = "3"
                           validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-model col-md-6">
                    <label for = "model" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.model.$error.required">*</span>
                    </label>
                    <input type = "text" data-ng-model = "vm.service.model" required placeholder = "Model"
                           class = "form-control" name = "model" id = "model"
                           ng-minlength = "3" validate-on = "dirty" required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-year col-md-6">
                    <label for = "year" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.year.$error.required">*</span>
                    </label>
                    <input type = "number" data-ng-model = "vm.service.year" required placeholder = "Year"
                           class = "form-control" name = "year"
                           id = "year" ng-minlength = "4" validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-mileage col-md-6">
                    <label for = "mileage" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.mileage.$error.required">*</span>
                    </label>
                    <input type = "number" data-ng-model = "vm.service.mileage" required placeholder = "Mileage"
                           class = "form-control" name = "mileage"
                           id = "mileage" ng-minlength = "3" validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-vin col-md-12">
                    <label for = "vin" class = "fb-text-label">
                        <span class = "required" ng-if = "carService.vin.$error.required">*</span>
                    </label>
                    <input type = "number" data-ng-model = "vm.service.vin" required placeholder = "VIN Number"
                           class = "form-control" name = "vin"
                           id = "vin" ng-minlength = "3" validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-select form-group field-type col-md-6">
                    <label for = "type" class = "fb-select-label">Select service type
                        <span class = "required" ng-if = "carService.type.$error.required">*</span>
                    </label>
                    <select type = "select"
                            data-ng-model = "vm.service.type"
                            required
                            class = "form-control col-md-1"
                            name = "type"
                            id = "type"
                            validate-on = "dirty"
                            required-message = "'This field is required..'">
                        <option value = "" selected = "true">--Select Type--</option>
                        <option value = "Mechanical">Mechanical</option>
                        <option value = "Elelctrical">Elelctrical</option>
                        <option value = "Unknown">Unknown</option>
                    </select>
                </div>
                <div class = "fb-select form-group field-firsttime col-md-6">
                    <label for = "firsttime" class = "fb-select-label">Have we serviced you before?
                        <span class = "required" ng-if = "carService.firsttime.$error.required">*</span>
                    </label>
                    <select type = "select"
                            data-ng-model = "vm.service.firsttime"
                            required
                            class = "form-control col-md-1"
                            name = "firsttime"
                            id = "firsttime"
                            validate-on = "dirty"
                            required-message = "'This field is required..'">
                        <option value = "" selected = "true">--Select Type--</option>
                        <option value = "Yes">Yes</option>
                        <option value = "No">No</option>

                    </select>
                </div>
                <div>
                    <h3 type = "h3" class = "header" name = "">Additional Information</h3>
                </div>
                <div class = "fb-undefined form-group field-message">
                    <label for = "message" class = "fb-textarea-label"></label>
                    <textarea type = "textarea"
                              data-ng-model = "vm.service.message"
                              class = "form-control"
                              name = "message"
                              id = "message"
                              placeholder = "Message"></textarea>
                </div>
                <div class = "fb-button form-group field-buttsubmit">
                    <button type = "button"
                            ng-click = "vm.sendMail()"
                            class = "button-input btn btn-primary"
                            ng-disabled = "carService.$invalid"
                            name = "buttsubmit"
                            id = "buttsubmit">Submit
                    </button>
                </div>
            </form>
            <span id = "mailsent">Your service request has been received</span>
            <span id = "mailnotsent">Your service request has NOT been sent</span>
            <span id = "spinner"><i class = "fa fa-circle-o-notch fa-spin" aria-hidden = "true"></i> Your service request is being processed</span>
        </div>
        <div class = "col-md-3 smallhidden">
        </div>
    </div>
</section>


