<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm"
         class = "homecontainer"
         id = "hometop">
    <div class = "row">
        <div class = "container detailscontainer">
            <div ng-show = "sr.data.length == 0"
                 class = "fetch">
                <i class = "fa fa-refresh fa-spin"
                   aria-hidden = "true"></i>
            </div>
            <div class = "row  ">
                <div class = "col-xs-12 nopad headerdetails">
                    <h1 class = "topheader">
                        {{::car.make}}
                        <span>{{::car.variant}}</span>
                    </h1>
                </div>
                <div class = "row">
                    <div class = "col-sm-6 col-xs-12 nopad">
                        <div id = "carslide"
                             class = "owl-carousel owl-theme">
                            <img src = "{{car.url1}}"
                                 data-darkbox = "{{car.url1}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 alt = "{{car.make}}"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url2}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url2}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url3}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url3}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url4}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url4}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url5}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url5}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url6}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url6}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url7}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url7}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url8}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url8}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url9}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url9}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                            <img src = "{{car.url10}}"
                                 alt = "{{car.make}}"
                                 data-darkbox = "{{car.url10}}"
                                 data-darkbox-description = "{{car.make}} {{car.variant}}"
                                 data-darkbox-group = "gallery"
                                 onerror = "this.style.display='none'">
                        </div>
                        <div id = "carslidethumbs"
                             class = "owl-carousel owl-theme">
                            <img src = "{{car.url1}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url2}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url3}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url4}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url5}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url6}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url7}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url8}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url9}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url10}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class = "modalh2">
                            <span class = "col-sm-6 nopad">{{car.selling_price || 'Contact us for price' | currency:"R":0 }}</span>
                        </div>
                        <div>
                            <ul class = "details">
                                <li>
                                    <strong>{{ 'car_year' | translate }}</strong>{{car.year}}
                                </li>
                                <li>
                                    <strong>{{ 'car_mileage' | translate }}</strong>{{car.mileage || '0' | number }} Km
                                </li>
                                <li>
                                    <strong>{{ 'car_color' | translate }}</strong>{{car.colour}}
                                </li>
                                <li>
                                    <strong>{{ 'car_condition' | translate }}</strong>{{car.condition}}
                                </li>
                                <li>
                                    <strong>{{ 'car_body' | translate }}</strong>{{car.body_type}}
                                </li>
                            </ul>
                             <ul class = "extras_details">
                                <li>{{car.extras_csv.split(',')[0] || 'No extras listed'}}</li>
                                <li>{{car.extras_csv.split(',')[1]}}</li>
                                <li>{{car.extras_csv.split(',')[2]}}</li>
                                <li>{{car.extras_csv.split(',')[3]}}</li>
                                <li>{{car.extras_csv.split(',')[4]}}</li>
                                <li>{{car.extras_csv.split(',')[5]}}</li>
                                <li>{{car.extras_csv.split(',')[6]}}</li>
                                <li>{{car.extras_csv.split(',')[7]}}</li>
                                <li>{{car.extras_csv.split(',')[8]}}</li>
                                <li>{{car.extras_csv.split(',')[9]}}</li>
                                <li>{{car.extras_csv.split(',')[10]}}</li>
                                <li>{{car.extras_csv.split(',')[11]}}</li>
                                <li>{{car.extras_csv.split(',')[12]}}</li>
                                <li>{{car.extras_csv.split(',')[13]}}</li>
                                <li>{{car.extras_csv.split(',')[14]}}</li>
                                <li>{{car.extras_csv.split(',')[15]}}</li>
                                <li>{{car.extras_csv.split(',')[16]}}</li>
                                <li>{{car.extras_csv.split(',')[17]}}</li>
                                <li>{{car.extras_csv.split(',')[18]}}</li>
                                <li>{{car.extras_csv.split(',')[19]}}</li>
                                <li>{{car.extras_csv.split(',')[20]}}</li>
                            </ul>
                            <div class = "cardetailsbox">
                                <div>
                                    <span id = "enquire"></span>
                                    <h3>{{ 'car_description' | translate }}</h3>
                                    <p class = "break"> {{car.description || 'Contact us for more information'}}</p>
                                </div>
                            </div>
                            <div class = " detailsocial">
                                Share this page on:
                                <div class = "col-xs-12 nopad">
                                    <a socialshare
                                       socialshare-provider = "facebook"
                                       socialshare-text = "LRS Service Center"
                                       socialshare-hashtags = "LRS Service Center"
                                       socialshare-url = "{{url}}">
                                        <i class = "fa fa-facebook fb"
                                           aria-hidden = "true"></i>
                                    </a>
                                    <a socialshare
                                       socialshare-provider = "twitter"
                                       socialshare-text = "LRS Service Center"
                                       socialshare-hashtags = "LRS Service Center"
                                       socialshare-url = "{{url}}"
                                       class = "twittdetails">
                                        <i class = "fa fa-twitter"
                                           aria-hidden = "true"></i>
                                    </a>
                                    <a socialshare
                                       socialshare-provider = "google"
                                       socialshare-url = "{{url}}"
                                       class = "googledetails">
                                        <i class = "fa fa-google-plus"
                                           aria-hidden = "true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row colored">
        <div class = "container">
            <uib-tabset active = "active">
                <uib-tab index = "0"
                         heading = "Similar Vehicles">
                    <h2 class = "optional">Similar Vehicles </h2>
                    <div class = "col-md-3 col-sm-2 col-xs-6 carbox similar"
                         ng-repeat = "car in Similar = ( vm.data | filter:filterprice | limitTo:4 | orderBy:'selling_price' )"
                         ng-if = "car.stock_id != stock_id">
                        <div class = "borderbox">
                            <div class = "show_pic_similar">
                                <a class = "xtradetails"
                                   ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-folder-open"
                                       aria-hidden = "true"></i>
                                    <br>
                                    VIEW DETAILS
                                </a>
                                <img ng-src = "{{car.url1}}"
                                     src = "../img/nopic.jpg"
                                     alt = "{{car.make}}"
                                     onerror = "this.src='../img/nopic.jpg'">
                            </div>
                            <div>
                                <h4 class = "homeheading"> {{car.make}} {{car.variant}}</h4>
                                <div class = "price">
                                    <h3>{{car.selling_price | currency:"R":0 }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show = "Similar.length === 1">
                        <p>No similar vehicles found</p>
                    </div>
                </uib-tab>
                <uib-tab index = "1"
                         heading = "Favourites">
                    <h2 class = "optional"
                        id = "favsheader">Favourites</h2>
                    <div class = "col-sm-2 col-xs-6  favs favdetails nopad favborder"
                         ng-repeat = "car in favsSaved | unique: 'stock_id'">
                        <div class = "favpic">
                            <a class = "remove_fav"
                               ng-click = "delete($index)">
                                <img src = "../img/fav_minus.svg">
                            </a>
                            <a class = "favover"
                               ng-click = "vm.detailsClick(car)">
                                <i class = "fa fa-search"
                                   aria-hidden = "true"></i>
                            </a>
                            <img src = "{{car.url1}}">
                        </div>
                        <h4>{{car.make}}</h4>
                    </div>
                    <p ng-show = "!favsSaved.length">No Favourites Found
                    </p>
                </uib-tab>
                <uib-tab index = "2"
                         heading = "Vehicle Enquiry ">
                    <h2 class = "optional">Vehicle Enquiry </h2>
                    <div ng-controller = "testDrive as vm">
                        <form id = "testdriveForm"
                              name = "testdriveForm"
                              novalidate
                              angular-validator>
                            <div class = "col-sm-10 nopad">
                                <div class = "col-sm-6 nopad">
                                    <div class = "fb-text form-group field-name">
                                        <label for = "name"
                                               class = "fb-text-label">
                                            <span class = "required"
                                                  ng-if = "testdriveForm.name.$error.required">*
                                            </span>
                                        </label>
                                        <input type = "text"
                                               data-ng-model = "vm.drive.name"
                                               placeholder = "{{ 'car_enquiry_name' | translate }}"
                                               class = "form-control"
                                               name = "name"
                                               id = "name"
                                               ng-minlength = "3"
                                               validate-on = "dirty"
                                               required-message = "'This field is required..'"
                                               required>
                                    </div>
                                    <div class = "fb-text form-group field-number">
                                        <label for = "number"
                                               class = "fb-text-label">
                                            <span class = "required"
                                                  ng-if = "testdriveForm.number.$error.required">*
                                            </span>
                                        </label>
                                        <input type = "number"
                                               data-ng-model = "vm.drive.number"
                                               placeholder = "{{ 'car_enquiry_number' | translate }}"
                                               class = "form-control"
                                               name = "number"
                                               id = "number"
                                               ng-minlength = "10"
                                               validate-on = "dirty"
                                               required-message = "'This field is required..'"
                                               invalid-message = "'Please enter at least 10 numbers..'"
                                               required>
                                    </div>
                                    <div class = "fb-email form-group field-email">
                                        <label for = "email"
                                               class = "fb-email-label">
                                            <span class = "required"
                                                  ng-if = "testdriveForm.email.$error.required">*
                                            </span>
                                        </label>
                                        <input type = "email"
                                               data-ng-model = "vm.drive.email"
                                               placeholder = "{{ 'car_enquiry_email' | translate }}"
                                               class = "form-control"
                                               name = "email"
                                               id = "email"
                                               validate-on = "dirty"
                                               required-message = "'This field is required..'"
                                               required>
                                    </div>
                                </div>
                                <div class = "col-sm-6 nopad">
                                    <div class = "fb-undefined form-group field-message">
                                        <label for = "message"
                                               class = "fb-textarea-label"></label>
                                        <textarea type = "textarea"
                                                  data-ng-model = "vm.drive.message"
                                                  placeholder = "{{ 'car_enquiry_message' | translate }}"
                                                  class = "form-control"
                                                  name = "message"
                                                  id = "message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-sm-2">
                                <div class = " col-xs-12 nopad details">
                                    <a class = "btn btn-secondary telbtn "
                                       ng-click = "vm.financeClick(car)">{{ 'car_btn_finance' | translate }}
                                    </a>
                                    <a type = "button"
                                       data-ng-click = "vm.sendMail()"
                                       data-ng-disabled = "testdriveForm.$invalid"
                                       class = "button-input btn btn-primary"
                                       name = "submitbut2"
                                       id = "submitbut2">
                                        {{ 'car_enquiry_submit' | translate }}
                                    </a>
                                </div>
                            </div>
                            <!--HIDDEN FIELDS-->
                            <div class = "hidden">
                                <div class = "fb-text form-group field-company_id">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.company_id"
                                           class = "form-control"
                                           name = "company_id"
                                           id = "company_id"
                                           ng-init = "vm.drive.company_id=car.company_id"
                                           value = "{{car.company_id}}">
                                </div>
                                <div class = "fb-text form-group field-stock_id">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.stock_id"
                                           class = "form-control"
                                           name = "stock_id"
                                           id = "stock_id"
                                           ng-init = "vm.drive.stock_id=car.stock_id"
                                           value = "{{car.stock_id}}">
                                </div>
                                <div class = "fb-text form-group field-make">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.make"
                                           class = "form-control"
                                           name = "make"
                                           id = "make"
                                           ng-init = "vm.drive.make=car.make"
                                           value = "{{car.make}}">
                                </div>
                                <div class = "fb-text form-group field-variant">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.variant"
                                           class = "form-control"
                                           name = "variant"
                                           id = "variant"
                                           ng-init = "vm.drive.variant=car.variant"
                                           value = "{{car.variant}}">
                                </div>
                                <div class = "fb-text form-group field-year">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.year"
                                           class = "form-control"
                                           name = "year"
                                           id = "year"
                                           ng-init = "vm.drive.year=car.year"
                                           value = "{{car.year}}">
                                </div>
                                <div class = "fb-text form-group field-selling_price">
                                    <input type = "text"
                                           data-ng-model = "vm.drive.selling_price"
                                           class = "form-control"
                                           name = "selling_price"
                                           id = "selling_price"
                                           ng-init = "vm.drive.selling_price=car.selling_price"
                                           value = "{{car.selling_price}}">
                                </div>
                            </div>
                        </form>
                        <span id = "mailsent"> {{ 'car_enquiry_sent' | translate }}</span>
                        <span id = "mailnotsent"> {{ 'car_enquiry_notSent' | translate }}</span>
                        <span id = "spinner">
                            <i class = "fa fa-spinner fa-spin"
                               aria-hidden = "true"></i>
                            {{ 'car_enquiry_process' | translate }}
                        </span>
                    </div>
<<<<<<< HEAD
                    <div class = "row">
                        <h2 class = "optional">{{ 'car_similar_header' | translate }}</h2>
                        <div class = "col-md-3 col-sm-2 col-xs-6 carbox similar"
                             ng-repeat = "car in Similar = ( vm.data | filter:filterprice  | filter:body_type | limitTo:4 | orderBy:'selling_price' )"
                             ng-if = "car.stock_id != stock_id">
                            <div class = "borderbox">
                                <div class = "show_pic_similar">
                                    <a class = "xtradetails"
                                       ng-click = "vm.detailsClick(car)">
                                        <i class = "fa fa-folder-open"
                                           aria-hidden = "true"></i>
                                        <br>
                                        VIEW DETAILS
                                    </a>
                                    <img ng-src = "{{car.url1}}"
                                         src = "../img/nopic.jpg"
                                         alt="{{car.make}}"
                                         onerror = "this.src='../img/nopic.jpg'">
                                </div>
                                <div>
                                    <h4 class = "homeheading"> {{car.make}} {{car.variant}}</h4>
                                    <div class = "price">
                                        <h3>{{car.selling_price | currency:"R":0 }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show = "Similar.length === 1">
                            No similar vehicles found
                        </div>
                    </div>
                    <div class = "row">
                        <h2 class = "optional"
                            id = "favsheader">{{ 'car_favs_header' | translate }}</h2>
                        <div class = "col-sm-2 col-xs-6  favs favdetails nopad favborder"
                             ng-repeat = "car in favsSaved | unique: 'stock_id'">
                            <div class = "favpic">
                                <a class = "remove_fav"
                                   ng-click = "delete($index)">
                                    <img src = "../img/fav_minus.svg">
                                </a>
                                <a class = "favover"
                                   ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-search"
                                       aria-hidden = "true"></i>
                                </a>
                                <img src = "{{car.url1}}">
                            </div>
                            <h4>{{car.make}}</h4>
                        </div>
                        <p ng-show = "!favsSaved.length">{{ 'car_favs_text' | translate }}</p>
                    </div>
                </div>
            </div>
=======
                </uib-tab>
            </uib-tabset>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
        </div>
    </div>
</section>
<script type = "application/javascript">
    $('#noticetext').hide();
    jQuery('.notice').hover(function () {
        $('#noticetext').toggle();
    });
    $(document).ready(function () {

        // reference for main items
        var slider          = $('#carslide');
        // reference for thumbnail items
        var thumbnailSlider = $('#carslidethumbs');
        //transition time in ms
        var duration        = 1000;
        // carousel function for main slider
        slider.owlCarousel({
            autoplay: false,
            loop    : false,
            nav     : true,
            navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            dots    : false,
            items   : 1
        }).on('changed.owl.carousel', function (e) {
            //On change of main item to trigger thumbnail item
            thumbnailSlider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });
        // carousel function for thumbnail slider
        thumbnailSlider.owlCarousel({
            autoplay  : false,
            loop      : false,
            nav       : true,
            margin    : 2,
            dots      : false,
            navText   : ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            responsive: {
                0   : {
                    items: 2
                },
                600 : {
                    items: 4
                },
                1000: {
                    items: 4
                }
            }
        }).on('click', '.owl-item', function () {
            // On click of thumbnail items to trigger same main item
            slider.trigger('to.owl.carousel', [$(this).index(), duration, true]);
        }).on('changed.owl.carousel', function (e) {
            // On change of thumbnail item to trigger main item
            slider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });
        //These two are navigation for main items
        $('.slider-right').click(function () {
            slider.trigger('next.owl.carousel');
        });
        $('.slider-left').click(function () {
            slider.trigger('prev.owl.carousel');
        });
    });
</script>
<script>
    lightbox.option({
        'wrapAround'          : true,
        'showImageNumberLabel': false
    })
</script>
<style>
    .tabs
    {
        width      : 650px;
        float      : none;
        list-style : none;
        position   : relative;
        margin     : 80px 0 0 10px;
    }
    .tabs li
    {
        float   : left;
        display : block;
    }
    .tabs input[type="radio"]
    {
        position : absolute;
        top      : -9999px;
        left     : -9999px;
    }
    .tabs label
    {
        display            : block;
        padding            : 14px 21px;
        border-radius      : 2px 2px 0 0;
        font-size          : 20px;
        background         : #ccc;
        cursor             : pointer;
        position           : relative;
        top                : 4px;
        -moz-transition    : all 0.2s ease-in-out;
        -o-transition      : all 0.2s ease-in-out;
        -webkit-transition : all 0.2s ease-in-out;
        transition         : all 0.2s ease-in-out;
    }
    .tabs [id^="tab"]:checked + p
    {
        color              : black;
        -moz-transition    : all 2.2s ease-in-out;
        -o-transition      : all 2.2s ease-in-out;
        -webkit-transition : all 2.2s ease-in-out;
        transition         : all 2.2s ease-in-out;
    }
    .tabs label:hover
    {
        background : #fff;
    }
    .tabs .tab-content
    {
        z-index     : 2;
        display     : none;
        overflow    : hidden;
        width       : 100%;
        font-size   : 17px;
        line-height : 25px;
        padding     : 25px;
        position    : absolute;
        top         : 53px;
        left        : 0;
        background  : #fff;
    }
    .tabs [id^="tab"]:checked + label
    {
        background : #fff;
    }
    .tabs [id^="tab"]:checked ~ [id^="tab-content"]
    {
        display : block;
    }
</style>