<section class = "homecontainer"
         data-ng-controller = "CartController">
    <div class = "row">
        <div class = "container homecontent">
            <div class = "homeheadercontainer">
                <h1 id = "hometop"
                    class = "homeheader">Your Cart</h1>
            </div>
            <div>
                <div class = "row">
                    <ngcart-cart></ngcart-cart>
                    <!--<div class = "col-xs-4">
                        <h4>Checkout
                            <span> (ngcart-checkout)</span>
                            <ngcart-checkout service="http" settings="{ url:'/checkout' }"></ngcart-checkout>
                        </h4>
                    </div>
                    <div class = "col-xs-4">
                        <h4>service 'log'</h4>
                        <ngcart-checkout service = "log">Checkout</ngcart-checkout>
                    </div>-->
                    <div class = "col-xs-4">
                         <ngcart-checkout service = "http"

                                         settings = "httpSettings">Checkout
                        </ngcart-checkout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
