<div class="entry-header" id="top">
    <div id="breadcrumbspage" class="container">
        <a ui-sref="home">Home</a>
        »
        <span class="breadcrumb_last">Complaint Resolution</span>
        <h1 class="entry-title" ng-init="pagetitle='Complaint Resolution'">Complaint Resolution</h1>
    </div>
</div>
<section>

    <div class="container" ng-controller="compLaint as vm">
        <div class="col-md-9">
            <h2>If you have any problems please contact us using the form below and we will respond as soon as possible.
            </h2>
            <form id="complaintForm" name="complaintForm" novalidate angular-validator>
                <div class="fb-text form-group field-name">
                    <label for="name" class="fb-text-label"> <span
                            class="required" ng-if="complaintForm.name.$error.required">*</span>
                    </label>
                    <input type="text" data-ng-model="vm.complaint.name"
                           required placeholder="Your Name"
                           class="form-control" name="name" id="name"
                           ng-minlength='3' validate-on="blur"
                           invalid-message="'You need at least 3 letters..'"
                           required-message="'This field is required..'">
                </div>
                <div class="fb-text form-group field-number">
                    <label for="number" class="fb-text-label"> <span
                            class="required" ng-if="complaintForm.number.$error.required">*</span>
                    </label>
                    <input type="number" data-ng-model="vm.complaint.number"
                           required placeholder="Contact Number"
                           class="form-control" name="number" id="number"
                           ng-minlength='10' validate-on="blur"
                           invalid-message="'You need at least 10 numbers...'" required-message="'This field is required..'">
                </div>
                <div class="fb-email form-group field-email">
                    <label for="email" class="fb-email-label"> <span
                            class="required" ng-if="complaintForm.email.$error.required">*</span>
                    </label>
                    <input type="email" data-ng-model="vm.complaint.email"
                           required placeholder="Email"
                           class="form-control" name="email" id="email"
                           validate-on="dirty"
                           required-message="'This field is required..'">
                </div>
                <div class="fb-select form-group field-branch col-md-6">
                    <label for="branch" class="fb-select-label">Branch
                        <span class="required" ng-if="complaintForm.branch.$error.required">*</span>
                    </label>
                    <select type="select" data-ng-model="vm.complaint.branch" required class="form-control"
                            name="branch" id="branch"
                            validate-on="dirty"
                            required-message="'This field is required..'">
                        <option value="" selected="true">--Select Branch--</option>
                        <option value="Wingfield Motors">Wingfield Motors</option>
                        <option value="Wingfield Private Finance">Wingfield Private Finance</option>
                    </select>
                </div>
                <div class="fb-undefined form-group field-message col-md-6">
                    <label for="message"
                           class="fb-textarea-label"> </label><textarea
                        type="textarea" data-ng-model="vm.complaint.message" placeholder="Message"
                        class="form-control" name="message"
                        id="message"></textarea>
                </div>
                <div class="fb-button form-group field-submit">
                    <button type="button" data-ng-click="vm.sendMail()" data-ng-disabled="complaintForm.$invalid" class="button-input btn btn-primary"
                            name="submit" style="primary"
                            id="submit">Submit
                    </button>
                </div>
            </form>
            <span id="mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
            <span id="mailnotsent">Your request has NOT been sent</span>
            <span id="spinner"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Your request is being processed</span>

        </div>
        <div class="col-md-3 smallhidden"><a ui-sref="showroom">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page"><img src="img/search-icon.png"></div>
                <p> View <br> Showroom </p></div>
        </a> <a ui-sref="request_car">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page2"><img src="img/request-car-icon.png"></div>
                <p> Dream Vehicle <br> Request </p></div>
        </a> <a ui-sref="sell_car">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page2"><img alt="" src="img/sell-car-icon.png"></div>
                <p> Sell Your <br> Vehicle </p></div>
        </a>
            <a ui-sref="finance">
                <div class="callaction-page">
                    <div class="gloss"></div>
                    <div class="buticon-page2"><img alt="" src="img/finance-enquiry-icon.png"></div>
                    <p> Apply For <br>Vehicle Finance </p></div>
            </a> <a ui-sref="findersfee">
                <div class="callaction-page">
                    <div class="gloss"></div>
                    <div class="buticon-page2"><img alt="" src="img/finance-enquiry-icon.png"></div>
                    <p> Finders <br> Fee </p>
                </div>
            </a>
        </div>
    </div>
</section>



