<section>
    <div class = "row">
        <div class = "container">
            <h1 id = "hometop"
                class = "topheader">Contact Us </h1>
            <h3>If you have any enquiries please contact us using the form below and we will respond as soon as possible. </h3>
        </div>
    </div>
    <div class = "row colored">
        <div class = "container contact">
            <div class = "homeheadercontainer"></div>
            <div ng-controller = "contactUs as vm">
                <h2>{{store.branch1}}</h2>
                <div class = "col-sm-4">{{store.address1}}
                    <br>
                    <strong>Tel:</strong>
                    <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
                    <br>
                    <strong>Fax:</strong> 
                    <a href = "mailto:{{store.fax1}}"
                       ng-bind-html = "store.fax1"></a>
                    <br>
                    <strong>Email:</strong> 
                    <a href = "mailto:{{store.email1}}"
                       ng-bind-html = "store.email1"></a>
                    <a class = "smallmap"
                       href = "{{store.mapLink}}"
                       target = "_blank">{{ 'contact_btn_map' | translate }}
                    </a>
                </div>
                <div class = "col-sm-4">

                    <ul>
                        <li><strong>Monday to Thursday</strong> {{store.tradinghours.monThurs}}</li>
                        <li><strong>Friday</strong> {{store.tradinghours.Fri}}</li>
                        <li><strong>Saturday</strong>{{store.tradinghours.sat}}</li>
                        <li><strong>Sundays</strong> {{store.tradinghours.sun}}</li>
                        <li><strong>Public Holidays</strong> {{store.tradinghours.pub}}</li>
                    </ul>
                </div>
                <div class="col-xs-12 nopad">
                    <form id = "contactForm"
                          name = "contactForm"
                          novalidate
                          angular-validator>
                        <div class = "fb-text form-group field-name col-sm-4">
                            <label for = "name"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "contactForm.name.$error.required">*
                                </span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.details.name"
                                   required
                                   placeholder = "{{ 'contact_name' | translate }}"
                                   class = "form-control"
                                   name = "name"
                                   id = "name"
                                   ng-minlength = "3"
                                   validate-on = "blur"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-text form-group field-number col-sm-4">
                            <label for = "number"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "contactForm.number.$error.required">*
                                </span>
                            </label>
                            <input type = "number"
                                   data-ng-model = "vm.details.number"
                                   required
                                   placeholder = "{{ 'contact_number' | translate }}"
                                   class = "form-control"
                                   name = "number"
                                   id = "number"
                                   ng-minlength = "10"
                                   validate-on = "blur"
                                   invalid-message = "'You need at least 10 numbers...'"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-4">
                            <label for = "email"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "contactForm.email.$error.required">*
                                </span>
                            </label>
                            <input type = "email"
                                   data-ng-model = "vm.details.email"
                                   required
                                   placeholder = "{{ 'contact_email' | translate }}"
                                   class = "form-control"
                                   name = "email"
                                   id = "email"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-undefined form-group field-message ">
                            <label for = "message"
                                   class = "fb-textarea-label"></label>
                            <textarea type = "textarea"
                                      data-ng-model = "vm.details.message"
                                      placeholder = "{{ 'contact_message' | translate }}"
                                      class = "form-control"
                                      name = "message"
                                      id = "message"></textarea>
                        </div>
                        <div class = "fb-button form-group field-submit">
                            <button type = "button"
                                    data-ng-click = "vm.sendMail()"
                                    data-ng-disabled = "contactForm.$invalid"
                                    class = "button-input btn btn-primary"
                                    name = "submit"
                                    id = "submit">{{ 'contact_submit' | translate }}
                            </button>
                        </div>
                    </form>
                    <span id = "mailsent">{{ 'contact_sent' | translate }}</span>
                    <span id = "mailnotsent">{{ 'contact_notSent' | translate }}</span>
                    <span id = "spinner">
                        <i class = "fa fa-circle-o-notch fa-spin"
                           aria-hidden = "true"></i>
                        {{ 'contact_process' | translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- The element that will contain our Google Map. -->
    <div class = "row"
         ng-controller = "MapCNTRL">
        <!-- Google Map Settings -->
        <div style = "width: 100%; height: 350px;"
             map-lazy-load = "https://maps.google.com/maps/api/js">
            <ng-map center = "{{store.latlong}}"
                    zoom = "15"
                    default-style = "false"
                    pan-control = "false"
                    zoom-control = "false"
                    scale-control = "false"
                    map-type-control = "false"
                    directions = "true"
                    styles = "[{stylers:[{hue:'#ffffff'},{visibility:'simplified'},{gamma:0},{weight:0.5}]},{elementType:'labels',stylers:[{visibility:'on'},{color:'#999999'}]},{elementType:'labels.text.stroke', stylers:[{visibility: 'off'}]},{elementType:'labels.icon',stylers:[{visibility:'off'}]},{featureType:'landscape',stylers:[{color:'#eeeeee'}]},{featureType:'water',stylers:[{color:'#f5f5f5'}]},{featureType:'poi',stylers:[{color:'#f5f5f5'}]},{featureType:'road.highway',stylers:[{color:'#333333'}]},{featureType:'road.arterial',stylers:[{color:'#cccccc'}] }]">
                <marker position = "[{{store.latlong}}]"
                        title = "LRS Service Centre"></marker>
            </ng-map>
        </div>
    </div>
</section>
<section></section>
<style>
    ng-map
    {
        width  : 100%;
        height : 350px;
    }
</style>
