<section>
    <div class = "row">
        <div class = "container homecontent">
            <h1 class = "homeheader">Disclaimer</h1>
            <h2>Disclaimer of Warranty</h2>
            <p>The contents of this site are provided "as is" without warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a purpose and
                non-infringement.
            </p>
            <p> The owner of this site, the authors of these contents and in general anybody connected to this site in any way, from now on collectively called "Providers", assume no responsibility for errors
                or omissions in these contents.
            </p>
            <p> The Providers further do not warrant, guarantee or make any representation regarding the safety, reliability, accuracy, correctness or completeness of these contents. The Providers shall not be
                liable for any direct, indirect, general, special, incidental or consequential damages (including -without limitation- data loss, lost revenues and lost profit) which may result from the
                inability to use or the correct or incorrect use, abuse, or misuse of these contents, even if the Providers have been informed of the possibilities of such damages. The Providers cannot assume
                any obligation or responsibility.
            </p>
            <p> The use of these contents is forbidden in those places where the law does not allow this disclaimer to take full effect.</p>
        </div>
    </div>
</section>
