<section>
    <div class = "container"
         ng-controller = "Financebloks as vm"><h1 class = "topheader">{{ 'fin_header1' | translate }}</h1>
        <div class = "finaincebloks col-md-12">
            <h2>{{ 'fin_header2' | translate }}</h2>
            <h3>{{ 'fin_header3' | translate }}</h3>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = "https://eazyfin.co.za/Home/FinanceClient?companyId=445"
                   target = "_blank">
                    <div class = "financeblock">
                        {{ 'fin_box1' | translate }}
                    </div>
                </a>
            </div>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = "../downloads/individual.pdf"
                   target = "_blank">
                    <div class = "financeblock">
                        {{ 'fin_box2' | translate }}
                    </div>
                </a>
            </div>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = "../downloads/juristic.pdf"
                   target = "_blank">
                    <div class = "financeblock">
                        {{ 'fin_box3' | translate }}
                    </div>
                </a>
            </div>
            <div class = "clear30"></div>
            <h3>{{ 'fin_para' | translate }}</h3>
            <div class = "finlogos">
                <img src = "../img/mfc.png">
                <img src = "../img/standarbank.png">
                <img src = "../img/absa.png">
                <img src = "../img/wesbank.png">
            </div>
        </div>
        <div class = "col-md-3 smallhidden"></div>
    </div>
</section>


