<section>
    <div class="container" ng-controller="Finance as vm">
        <h1 class = "topheader">Vehicle Finance</h1>
        <div class="col-md-9">
            <h2>In order to proceed to the full application form please answer these quick pre qualifying questions.</h2>
            <form id="Finance" name="Finance" novalidate angular-validator>
                <div class="fb-text form-group field-name">
                    <label for="name" class="fb-text-label"> <span class="required" ng-if="Finance.name.$error.required">*</span>
                    </label>
                    <input type="text" data-ng-model="vm.fin.name" required placeholder="Your Full Name" class="form-control" name="name" id="name"
                           ng-minlength='3' validate-on="blur" invalid-message="'You need at least 3 letters..'"
                           required-message="'This field is required..'">
                </div>
                <div class="fb-text form-group field-number col-md-6">
                    <label for="number" class="fb-text-label">
                        <span class="required" ng-if="Finance.number.$error.required">*</span>
                    </label>
                    <input type="number" data-ng-model="vm.fin.number" required placeholder="Contact Number" class="form-control" name="number"
                           id="number" ng-minlength='10' validate-on="dirty" invalid-message="'You need at least 10 numbers...'"
                           required-message="'This field is required..'">
                </div>
                <div class="fb-email form-group field-email col-md-6">
                    <label for="email" class="fb-email-label"> <span class="required" ng-if="Finance.email.$error.required">*</span>
                    </label>
                    <input type="email" data-ng-model="vm.fin.email" required placeholder="Email" class="form-control" name="email" id="email"
                           validate-on="dirty" required-message="'This field is required..'">
                </div>
                    <div class="fb-radio form-group field-salalry col-md-4 errorbottom">
                        <label class="fb-radio-label">Is your Gross Salary over R6500?
                            <span class="required" ng-if="Finance.salary.$error.required">*</span>
                        </label>
                        <div>
                            <input type="radio" id="salary" ng-model="vm.fin.salary" name="salaryoption" validate-on="dirty" value="Yes"
                                   validator="vm.fin.salary === 'Yes'" required>Yes
                            <input type="radio" ng-model="vm.fin.salary" name="salaryoption" value="No">No
                        </div>
                    </div>
                    <div class="fb-radio form-group field-year col-md-4 errorbottom">
                        <label class="fb-radio-label">Year model between 2006 and 2016?
                            <span class="required" ng-if="Finance.year.$error.required">*</span>
                        </label>
                        <div>
                            <input type="radio" id="year" ng-model="vm.fin.year" name="yearoption" validate-on="dirty" value="Yes"
                                   validator="vm.fin.year === 'Yes'" required>Yes
                            <input type="radio" ng-model="vm.fin.year" name="yearoption" value="No">No
                        </div>
                    </div>
                    <div class="fb-radio form-group field-license col-md-4 errorbottom">
                        <label class="fb-radio-label">Do you have a valid drivers licence?
                            <span class="required" ng-if="Finance.license.$error.required">*</span>
                        </label>
                        <div><input type="radio" id="license" ng-model="vm.fin.license" name="licenseoption" validate-on="dirty" value="Yes"
                                    validator="vm.fin.license === 'Yes'" required>Yes
                            <input type="radio" ng-model="vm.fin.license" name="licenseoption" value="No">No
                        </div>
                    </div>
                    <div class="fb-button form-group field-submit">
                        <button type="button" data-ng-click="vm.sendMail()" data-ng-disabled="Finance.$invalid" class="button-input btn btn-primary"
                                name="submit" id="submit">Submit
                        </button>
                    </div>
            </form>
            <span id="mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
            <span id="mailnotsent">Your request has NOT been sent</span>
            <span id="spinner"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Your request is being processed</span>
        </div>
        <div class="col-md-3 smallhidden">
        </div>
    </div>
</section>


