<section id = "homecars">
    <div ng-include = '"templates/slider.html"' ng-style = "homeBanner" class = "slidercontainer"></div>
    <div class = "container homecontainer" ng-controller = "showRoomall as vm">
        <div class = "row">
            <div class = "container">
                <h2 class = "intro">{{store.name}}
                    <span class = "headerstrong">Deals</span> of the day!
                </h2>
            </div>
            <div ng-show = "vm.data.length==0" class = "fetch"><i class = "fa fa-refresh fa-spin" aria-hidden = "true"></i>
            </div>
            <div class = "col-md-3 col-sm-6 carbox" ng-repeat = "car in vm.data | limitTo: vm.limit track by $index">
                <div class = "show_pic">
                    <a class = "xtradetails" ng-click = "vm.detailsClick(car)"><i class = "fa fa-picture-o"
                                                                                  aria-hidden = "true"></i>
                    </a>
                    <img ng-src = "{{::car.url1}}" class = "show_picimg">
                    <div class = "price"><h3>{{::car.selling_price | currency: "R"}}</h3></div>
                </div>
                <h4 class = "homeheading">{{::car.make}} {{::car.series}}</h4>
                <div>
                    <ul class = "details">
                        <li><i class = "fa fa-chevron-right" aria-hidden = "true"></i> <strong>Year: </strong>{{::car.year}}
                        </li>
                        <li><i class = "fa fa-chevron-right" aria-hidden = "true"></i> <strong>Milage: </strong>{{::car.mileage}}
                        </li>
                        <li><i class = "fa fa-chevron-right" aria-hidden = "true"></i> <strong>Colour: </strong>{{::car.colour}}
                        </li>
                        <li><i class = "fa fa-chevron-right" aria-hidden = "true"></i> <strong>Condition: </strong>{{::car.condition}}
                        </li>
                        <li><i class = "fa fa-chevron-right" aria-hidden = "true"></i> <strong>Branch: </strong>{{::car.branch}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


