<section class = "homecontainer"
         ng-controller = "CartController as vm">
    <div class = "row">
        <div class = "container homecontent cataloque">
            <div class = "homeheadercontainer">
                <h1 id = "hometop"
                    class = "homeheader">Spares and Accessories </h1>
            </div>
            <div>
                <div class = "row">
                    <div class = "col-sm-3 cart_filter">
                        <h3>Filters</h3>
                        <div class = "formgroup">
                            <select ng-options = " p.model for p in vm.modelData | unique:'model' | orderBy: 'model' "
                                    ng-change = "modelChangedSelect()"
                                    ng-model = "modelSelect">
                                <option value = "">Facet</option>
                            </select>
                            <div class = "subfilter animated fadeDown"
                                 ng-show = "modelSelect">
                                <div class = "filterarr">
                                    <img src = "../img/arr1.png">
                                </div>
                                <select ng-options = "p.part_group for p in vm.pGroupData | unique:'part_group' | orderBy: 'part_group'"
                                        ng-change = "pGroupChangedSelect()"
                                        ng-model = "pGroupSelect"
                                        ng-show = "modelSelect">
                                    <option value = "">Part Group</option>
                                </select>
                                <select ng-options = "p.part_sub_group for p in vm.partData | unique:'part_sub_group' | orderBy: 'part_sub_group'"
                                        ng-change = "partChangedSelect()"
                                        ng-model = "partSelect"
                                        ng-show = "pGroupSelect">
                                    <option value = "">Part Sub Group</option>
                                </select>
                            </div>
                        </div>
                        <button type = "button"
                                id = "reset"
                                class = "btn-primary btn"
                                ng-click = "clearFilter()">
                            <span>
                                <i class = "fa fa-refresh"
                                   aria-hidden = "true"></i>
                            </span>
                            {{ 'showroom_btn_resetfilter' | translate }}
                        </button>
                    </div>
                    <div class = "col-sm-9">
                        <div class = "row sparesheader">
                            <div class = "col-sm-4">
                                <h3>ACCESSORIES</h3>
                                We are the largest importer of the Terrafirma range into Southern Africa and stock the largest range of Land Rover specific accessories and upgrades. We import HID Conversion
                                Kits, LED automotive bulbs and LED Work Lights from reputable manufacturers. We are stockists of Escape Gear seat covers, ARB Lockers, Madman products, the Little Black Box
                                (LBB), Safari Snorkels, Maxxis Tyres and CTEK charging systems.
                            </div>
                            <div class = "col-sm-4">
                                <h3>NEW SPARES</h3> Our Spares department carries a wide range of new and used Land Rover spares. Using the knowledge gained in our workshop, we can be certain of the quality of
                                the spares we supply – our excellent Sales staff are available to assist and advise should it be required. We are direct importers of well known Land Rover aftermarket brands
                                such as Terrafirma, Allmakes, Britpart, Valeo, Denso and many more.
                            </div>
                            <div class = "col-sm-4">
                                <h3>USED SPARES</h3>Old Land Rovers never die...our Southfield branch is constantly buying up old Land Rover’s and recycling them as second hand spares – Defender’s, Discovery’s
                                and Freelander’s – for rims, doors, panels, engine parts and more – try us first if you first if you don’t want to buy new!
                            </div>
                        </div>
                        <div ng-show = "vm.data.length == 0"
                             class = "fetch">
                            <i class = "fa fa-refresh fa-spin"
                               aria-hidden = "true"></i>
                            <div class = "clear loading">Products are loading...</div>
                        </div>
                        <div class = "col-sm-6 col-md-4 product"
                             ng-repeat = "p in vm.data.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))">
                            <div class = "product_pic">
                                <img ng-src = "{{::p.image}}"
                                     ng-click = "activeMenu = !activeMenu"
                                     src = "../img/nopic.jpg"
                                     alt = "{{::p.enjin}}"
                                     onerror = "this.src='../img/nopic.jpg'">
                            </div>
                            <div class = "detailspop animated fadeIn"
                                 ng-class = "{showmore:activeMenu}">
                                <div class = "close"
                                     ng-click = "activeMenu = !activeMenu">
                                    <i class = "fa fa-times-circle"
                                       aria-hidden = "true"></i>
                                </div>
                                <!-- Nav tabs -->
                                <ul class = "nav nav-tabs"
                                    role = "tablist">
                                    <li class = "nav-item">
                                        <div class = "nav-link active"
                                             data-toggle = "tab"
                                             href = "#{{::p.part_id}}_1"
                                             role = "tab">Description
                                        </div>
                                    </li>
                                    <li class = "nav-item">
                                        <div class = "nav-link"
                                             data-toggle = "tab"
                                             href = "#{{::p.part_id}}_2"
                                             role = "tab">Variations
                                        </div>
                                    </li>
                                    <li class = "nav-item">
                                        <div class = "nav-link"
                                             data-toggle = "tab"
                                             href = "#{{::p.part_id}}_3"
                                             role = "tab">Features
                                        </div>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class = "tab-content">
                                    <div class = "tab-pane active"
                                         id = "{{::p.part_id}}_1"
                                         role = "tabpanel">
                                        <h4>{{::p.engine_desc || 'No engine_desc available'}}</h4>
                                        <p>{{::p.part_group || 'No part_group available'}}</p>
                                        <p>{{::p.part_desc || 'No part_desc available'}}</p>
                                    </div>
                                    <div class = "tab-pane"
                                         id = "{{p.part_id}}_2"
                                         role = "tabpanel">
                                        <ul class = "varilist">
                                            <li>{{::p.extras_csv.split(',')[0]}}</li>
                                            <li>{{::p.extras_csv.split(',')[1]}}</li>
                                            <li>{{::p.extras_csv.split(',')[2]}}</li>
                                            <li>{{::p.extras_csv.split(',')[3]}}</li>
                                            <li>{{::p.extras_csv.split(',')[4]}}</li>
                                            <li>{{::p.extras_csv.split(',')[5]}}</li>
                                            <li>{{::p.extras_csv.split(',')[6]}}</li>
                                            <li>{{::p.extras_csv.split(',')[7]}}</li>
                                            <li>{{::p.extras_csv.split(',')[8]}}</li>
                                            <li>{{::p.extras_csv.split(',')[9]}}</li>
                                            <li>{{::p.extras_csv.split(',')[10]}}</li>
                                            <li>{{::p.extras_csv.split(',')[11]}}</li>
                                            <li>{{::p.extras_csv.split(',')[12]}}</li>
                                            <li>{{::p.extras_csv.split(',')[13]}}</li>
                                            <li>{{::p.extras_csv.split(',')[14]}}</li>
                                            <li>{{::p.extras_csv.split(',')[15]}}</li>
                                        </ul>
                                    </div>
                                    <div class = "tab-pane"
                                         id = "{{::p.part_id}}_3"
                                         role = "tabpanel">
                                        <ul class = "feature">
                                            <li>{{::p.features.split(',')[0]}}</li>
                                            <li>{{::p.features.split(',')[1]}}</li>
                                            <li>{{::p.features.split(',')[2]}}</li>
                                            <li>{{::p.features.split(',')[3]}}</li>
                                            <li>{{::p.features.split(',')[4]}}</li>
                                            <li>{{::p.features.split(',')[5]}}</li>
                                            <li>{{::p.features.split(',')[6]}}</li>
                                            <li>{{::p.features.split(',')[7]}}</li>
                                            <li>{{::p.features.split(',')[8]}}</li>
                                            <li>{{::p.features.split(',')[9]}}</li>
                                            <li>{{::p.features.split(',')[10]}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2> {{::p.model}}</h2>
                                <h3>{{::p.part_desc}}</h3>
                                <ul>
                                    <li><strong>Part Code:</strong> {{::p.part_code}}</li>
                                    <li><strong>Part Group:</strong> {{::p.part_group}}</li>
                                </ul>
                            </div>
                            <div class = "price">
                                <h3>{{::p.selling_price_exc | currency:'R'}}</h3>
                            </div>
                            <ngcart-addtocart id = "{{::p.part_code}}"
                                              name = "{{::p.part_desc}}"
                                              price = "{{::p.selling_price_exc}}"
                                              quantity = "1"
                                              data = "item"
                                              quantity-max = "5">Add to Cart
                            </ngcart-addtocart>
                        </div>
                        <div class = "page">
                            <div class = "filterblock paging col-xs-12 nopad pull-left">
                                <div class = "formgroup col-sm-5 col-xs-12 nopad  ">
                                    <label class = "perpage_label">Show</label>
                                    <select class = "perpage"
                                            ng-model = "carQuantity"
                                            ng-disabled = "showAll"
                                            ng-change = "setItemsPerPage(carQuantity)"
                                            ng-init = "carQuantity = perPage.item[0]"
                                            ng-options = "c for c in perPage.item"></select>
                                    <label class = "perpage_secondlabel">Products</label>
                                </div>
                                <div class = "formgroup col-sm-4 col-xs-12 nopad ">
                                    <label>ALL PRODUCTS
                                        <input type = "checkbox"
                                               ng-model = "showAll"
                                               name = "showAll"
                                               class = "filtercheck">
                                    </label>
                                </div>
                            </div>
                            <ul uib-pagination
                                total-items = "totalProducts"
                                boundary-links = "false"
                                ng-model = "currentPage"
                                max-size = "4"
                                ng-change = "pageChanged()"
                                items-per-page = "itemsPerPage"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(document).on('mouseenter', '[data-toggle="tab"]', function () {
            $(this).tab('show');
        });
    });
</script>