<div class = "row"
     id = "trade-in-view"
     data-ng-controller = "tradeIn as vm">
    <div class = "tradein">
        <div class = "row ">
            <div class = "container"><h1 class = "topheader">Sell your vehicle... </h1>
                <p>Orgias crescere! Grandis, teres aususs solite quaestio de flavum, nobilis zirbus. Cum fermium potus, omnes fluctuies magicae velox, castus terrores. Mori inciviliter ducunt ad varius tus.
                    Bassus zirbuss ducunt ad adiurator. Repressors potus, tanquam albus devatio. Pol, alter calceus! Sunt indictioes magicae alter, pius barcases. Cursus de bi-color hippotoxota, resuscitabo
                    armarium! Cum vigil peregrinatione, omnes fluctuses prensionem mirabilis, emeritis vitaes.
                </p>
            </div>
        </div>
        <div class = "row colored">
            <div class = "container">
                <form name = "tradeInForm"
                      id = "tradeInForm"
                      novalidate
                      angular-validator
                      flow-init = "{target: '/img', testChunks:false}"
                      flow-name = "vm.flow"
                      flow-files-submitted = "$flow.upload()"
                      flow-file-success = "$file.msg = $message">
                    <h3>Car Information</h3>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "make"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.make.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               required
                               class = "form-control"
                               id = "make"
                               name = "make"
                               data-ng-model = "vm.details.make"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 3 letters..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_make' | translate }}"/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "model"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.model.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               id = "model"
                               name = "model"
                               required
                               data-ng-model = "vm.details.model"
                               ng-minlength = "3"
                               class = "form-control"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 3 letters..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_model' | translate }}"/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "year"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.year.$error.required">*
                            </span>
                        </label>
                        <input type = "number"
                               id = "year"
                               name = "year"
                               required
                               ng-minlength = "4"
                               data-ng-model = "vm.details.year"
                               data-ng-maxlength = "4"
                               class = "form-control"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 4 numbers..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_year' | translate }}"/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "mileage"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.mileage.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               id = "mileage"
                               name = "mileage"
                               data-ng-model = "vm.details.mileage"
                               data-ng-maxlength = "20"
                               class = "form-control"
                               required
                               validate-on = "dirty"
                               invalid-message = "'You need at least 4 numbers..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_mileage' | translate }}"/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "price"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.price.$error.required">*
                            </span>
                        </label>
                        <input type = "number"
                               id = "price"
                               name = "price"
                               data-ng-model = "vm.details.price"
                               data-ng-maxlength = "20"
                               class = "form-control"
                               required
                               validate-on = "dirty"
                               invalid-message = "'You need at least 4 numbers..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_price' | translate }}"/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4">
                        <label for = "colour"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.colour.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               id = "colour"
                               name = "colour"
                               data-ng-model = "vm.details.colour"
                               data-ng-maxlength = "20"
                               class = "form-control"
                               required
                               validate-on = "dirty"
                               invalid-message = "'You need at least 4 letters..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_color' | translate }}"/>
                    </div>
                    <h3>Contact Information</h3>
                    <div class = "fb-text form-group field-name col-md-6">
                        <label for = "name"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.name.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               id = "name"
                               name = "name"
                               data-ng-model = "vm.details.name"
                               ng-minlength = "3"
                               class = "form-control"
                               placeholder = "{{ 'carsell_name' | translate }}"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 3 letters..'"
                               required-message = "'This field is required..'"
                               required/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-6">
                        <label for = "lastName"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.lastName.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               id = "lastName"
                               name = "lastName"
                               data-ng-model = "vm.details.lastName"
                               ng-minlength = "3"
                               class = "form-control"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 3 letters..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_surname' | translate }}"
                               required/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-6">
                        <label for = "phoneNumber"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.phoneNumber.$error.required">*
                            </span>
                        </label>
                        <input type = "number"
                               id = "phoneNumber"
                               name = "phoneNumber"
                               data-ng-model = "vm.details.phoneNumber"
                               ng-minlength = "10"
                               class = "form-control"
                               validate-on = "dirty"
                               invalid-message = "'You need at least 10 numbers..'"
                               required-message = "'This field is required..'"
                               placeholder = "{{ 'carsell_number' | translate }}"
                               required/>
                    </div>
                    <div class = "fb-text form-group field-name col-md-6">
                        <label for = "email"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "tradeInForm.email.$error.required">*
                            </span>
                        </label>
                        <input type = "email"
                               id = "email"
                               name = "email"
                               data-ng-model = "vm.details.email"
                               validate-on = "dirty"
                               required-message = "'Please enter a valid email..'"
                               class = "form-control"
                               placeholder = "{{ 'carsell_email' | translate }}"
                               required/>
                    </div>
                    <h3>{{ 'carsell_description_header' | translate }}</h3>
                    <div class = "fb-text form-group field-name">
                        <textarea id = "comments"
                                  class = "form-control"
                                  data-ng-model = "vm.details.comments"
                                  placeholder = "{{ 'carsell_description' | translate }}"></textarea>
                    </div>
                    <div class = "row">
                        <h3>{{ 'carsell_upload_header1' | translate }}</h3>
                        <div flow-drag-enter = "style={border: '1px solid green'}"
                             flow-drag-leave = "style={}"
                             flow-drop
                             ng-style = "style"
                             class = "droplet"></div>
                        <div class = "col-xs-12 label label-info">
                            {{ 'carsell_upload_size' | translate }} {{vm.totalFileSize($flow)}} bytes
                        </div>
                        <div class = "col-xs-12 nopad">
                            <span class = "btn btn-primary"
                                  flow-btn>{{ 'carsell_upload_single' | translate }}
                            </span>
                            <span class = "btn btn-primary"
                                  flow-btn
                                  flow-directory
                                  ng-show = "$flow.supportDirectory">
                                {{ 'carsell_upload_folder' | translate }}
                            </span>
                        </div>
                    </div>
                    <div class = "row">
                        <h3>{{ 'carsell_upload_deader2' | translate }}</h3>
                        <div id = "image-files"
                             ng-repeat = "file in $flow.files"
                             class = "col-sm-2 nopadleft">
                            <span class = "title ng-binding">{{file.name}}</span>
                            <div class = "thumbnail"
                                 ng-show = "$flow.files.length">
                                <img flow-img = "file"
                                     alt = "{{file.name}}"/>
                            </div>
                            <div class = "progress progress-striped"
                                 ng-class = "{active: file.isUploading()}">
                                <div style = "width: 100%;"
                                     class = "progress-bar"
                                     role = "progressbar"
                                     aria-valuenow = "100"
                                     aria-valuemin = "0"
                                     aria-valuemax = "100"
                                     ng-style = "{width: (file.progress() * 100) + '%'}">
                                    <span class = "sr-only ng-binding">1% {{ 'carsell_upload_complete' | translate }}</span>
                                </div>
                            </div>
                            <div>{{file.size}} bytes</div>
                            <div class = "btn-group">
                                <a class = "btn btn-xs btn-danger"
                                   ng-click = "file.cancel()">
                                    {{ 'carsell_upload_remove' | translate }}
                                </a>
                            </div>
                        </div>
                        <div class = "clear"></div>
                    </div>
                    <div class = "row">
                        <button class = "btn btn-primary "
                                id = "submit"
                                data-ng-click = "vm.sendEmail()"
                                data-ng-disabled = "tradeInForm.$invalid">
                            {{ 'carsell_submit' | translate }}
                        </button>
                    </div>
                </form>
                <span id = "spinner">
                    <i class = "fa fa-spinner fa-spin"
                       aria-hidden = "true"></i>
                    {{ 'carsell_process' | translate }}
                </span>
            </div>
        </div>
    </div>
</div>