<div ui-view = "modal"></div>
<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm"
         class = "homecontainer"
         id = "hometop">
    <div class = "row">
        <div class = "container">
            <div class = "row">
                <div class = "grad">
                    <div class = "col-md-3 center-block filterblock"
                         id = "searchcar">
                        <h3>Look for a Vehicle</h3>
                        <form id = "filters"
                              name = "filters">
                            <div class = "row">
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'"
                                            ng-model = "selectedMake"
                                            ng-change = "selectChangedMake()">
                                        <option value = "">-- MAKE --</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series'"
                                            ng-model = "selectedSeries"
                                            ng-change = "selectChangedSeries()">
                                        <option value = "">-- SERIES --</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.province for car in vm.provinceData | unique:'province' | orderBy: 'province'"
                                            ng-model = "selectedProvince"
                                            ng-change = "selectChangedProvince()">
                                        <option value = "">-- REGION --</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.year for car in vm.yearData | unique:'year' | orderBy: 'year'"
                                            ng-change = "selectChangedYear()"
                                            ng-model = "selectedYear">
                                        <option value = "">-- YEAR --</option>
                                    </select>
                                </div>
                                <div ng-show = "filterShow"
                                     class = "col-sm-12 advanced_search animated fadeInDown">
                                    <div class = "filterarrow">
                                        <img src = "../img/filterarrow.png">
                                    </div>
                                    <h4>More filtering options...</h4>
                                    <div class = "formgroup col-md-2 ">
                                        <select ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                                ng-model = "selectedColour"
                                                ng-change = "selectChangedColour()">
                                            <option value = "">-- COLOUR --</option>
                                        </select>
                                    </div>
                                    <div class = "formgroup col-md-2">
                                        <label>Price Range</label>
                                        <rzslider rz-slider-floor = "rangeslider.floor"
                                                  rz-slider-ceil = "rangeslider.ceil"
                                                  rz-slider-model = "rangeslider.min"
                                                  rz-slider-high = "rangeslider.max"
                                                  rz-slider-options = "rangeslider.options"
                                                  rz-slider-step = "{{rangeslider.step}}"></rzslider>
                                    </div>
                                    <div class = "formgroup col-md-2">
                                        <label>Mileage</label>
                                        <rzslider rz-slider-floor = "rangeslidermileage.floor"
                                                  rz-slider-ceil = "rangeslidermileage.ceil"
                                                  rz-slider-model = "rangeslidermileage.min"
                                                  rz-slider-high = "rangeslidermileage.max"
                                                  rz-slider-options = "rangeslidermileage.options"
                                                  rz-slider-step = "{{rangeslidermileage.step}}"></rzslider>
                                    </div>
                                    <div class = "formgroup col-md-2">
                                        <select ng-options = "car.body_type for car in vm.bodytypeData | unique:'body_type' | orderBy: 'body_type'"
                                                ng-model = "selectedBodyType"
                                                ng-change = "selectChangedBodyType()">
                                            <option value = "">-- BODY TYPE --</option>
                                        </select>
                                    </div>
                                    <div class = "formgroup col-md-2">
                                        <select ng-model = "selectedDriveTrain">
                                            <option value = "">-- DRIVETRAIN --</option>
                                            <option value = "4x4">4 x 4</option>
                                            <option value = "4x2">4 x 2</option>
                                            <option value = "AWD">AWD</option>
                                            <option value = "FWD">FWD</option>
                                            <option value = "RWD">RWD</option>
                                        </select>
                                    </div>
                                    <div class = "formgroup col-md-2">
                                        <select ng-options = "car.dealer for car in vm.dealerData | unique:'dealer' | orderBy: 'dealer'"
                                                ng-model = "selectedDealer"
                                                ng-change = "selectChangedDealer()">
                                            <option value = "">-- Dealership --</option>
                                        </select>
                                    </div>
                                    <div class = "formgroup col-xs-12">
                                        <input type = "text"
                                               class = "searchtext"
                                               ng-model = "searchString"
                                               ng-change = "searchChanged(carQuantity)"
                                               placeholder = "KEYWORD: eg 4x4">
                                    </div>
                                </div>
                            </div>
                            <div class = "formgroup col-sm-12">
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "filterShow"
                                        data-ng-click = "filterShow = !filterShow "
                                        ng-hide = "filterShow">
                                    <span><i class = "fa fa-angle-double-down"
                                             aria-hidden = "true"></i></span>
                                    MORE OPTIONS
                                </button>
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "filterShow"
                                        data-ng-click = "filterShow = !filterShow "
                                        ng-show = "filterShow">
                                    <span><i class = "fa fa-angle-double-up"
                                             aria-hidden = "true"></i></span>
                                    LESS OPTIONS
                                </button>
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-click = "clearFilter()">
                                    <span><i class = "fa fa-refresh"
                                             aria-hidden = "true"></i></span>
                                    RESET FILTER
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class = "contentback">
                    <h2 class = "mainheader">Blue Chip Used Vehicles Sales</h2>
                    <div ng-show = "sr.data.length == 0"
                         class = "fetch">
                        <i class = "fa fa-refresh fa-spin"
                           aria-hidden = "true"></i>
                    </div>
                    <div class = "page">
                        <ul uib-pagination
                            total-items = "totalItems"
                            boundary-links = "true"
                            ng-model = "currentPage"
                            max-size = "4"
                            ng-change = "pageChanged()"
                            items-per-page = "itemsPerPage"></ul>
                    </div>
                    <div class = "filterblock paging col-xs-12">
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <select class = "perpage"
                                    size = "4"
                                    ng-model = "carQuantity"
                                    ng-disabled = "showAll"
                                    ng-change = "setItemsPerPage(carQuantity)"
                                    ng-init = "carQuantity = perPage.item[1]"
                                    ng-options = "c for c in perPage.item"></select>
                        </div>
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <label> ALL VEHICLES
                                <input type = "checkbox"
                                       ng-model = "showAll"
                                       name = "showAll"
                                       class = "filtercheck">
                            </label>
                        </div>
                        <div class = "formgroup sortselect col-md-2 col-xs-12">
                            <select class = "form-control sort"
                                    name = "sort"
                                    ng-model = "sortBy"
                                    ng-change = "sort()">
                                <option value = "">ORDER BY</option>
                                <option value = "{{options.az}}">A - Z</option>
                                <option value = "{{options.za}}">Z - A</option>
                                <option value = "{{options.pricelow}}">Price Lowest</option>
                                <option value = "{{options.pricehigh}}">Price Highest</option>
                                <option value = "{{options.yearlow}}">Year Oldest</option>
                                <option value = "{{options.yearhigh}}">Year Latest</option>
                            </select>
                        </div>
                        <div class = "col-md-3">
                            <select class = "form-control sort"
                                    name = "new_used"
                                    ng-model = "new_used">
                                <option value = "">New / Used Vehicles / Featured</option>
                                <option value = "new">New</option>
                                <option value = "used">Used</option>
                                <option value = "featured">Featured</option>
                            </select>
                        </div>
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <h3 class = "count">Total Vehicles:
                                <span ng-bind = "totalItems"></span>
                                <span ng-bind = "fourxfourTotal"></span>
                            </h3>
                        </div>
                        <div class = "gridlist col-md-1 col-xs-12 pull-right">
                            <a ui-sref = "list"><i class = "fa fa-align-justify"
                                                   aria-hidden = "true"></i></a>
                            <a ui-sref = "showroom"
                               class = "active"><i class = "fa fa-th"
                                                   aria-hidden = "true"></i></a>
                        </div>
                    </div>
                    <div class = "col-md-3 col-sm-6 col-xs-12 carbox"
                         ng-repeat = "car in vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))
                         | filter:searchString
                         | filter:new_used
                         | filter:selectedDriveTrain
                         | filter:minFilter
                         | filter:maxFilter
                         | filter:minmileFilter
                         | filter:maxmileFilter
                         | orderBy: sortBy ">
                        <div class = "borderbox">
                            <div class = "show_pic">
                                <a class = "xtradetails"
                                   ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-search"
                                       aria-hidden = "true"></i>
                                    <br>
                                    VIEW DETAILS
                                </a>
                                <img ng-src = "{{car.url1}}"
                                     src = "../img/nopic.jpg">
                                <div class = "new"
                                     ng-show = "car.new != ''">
                                    <div ng-bind = "car.new"
                                         class = "newcontent"></div>
                                </div>
                                <!-- <div class = "used" ng-show = "car.used != ''">
                                     <div ng-bind="car.used" class="newcontent"></div>
                                 </div>-->
                                <div class = "featured"
                                     ng-show = "car.featured != ''">
                                    <div ng-bind = "car.featured"
                                         class = "featuredcontent"></div>
                                </div>
                            </div>
                            <div>
                                <h4 class = "homeheading"> {{car.make}} {{car.variant}}</h4>
                                <div class = "price">
                                    <h3>{{car.selling_price | currency: "R":0}}</h3>
                                </div>
                                <ul class = "details">
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Year: </strong>
                                        <br>
                                        {{car.year}}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Condition: </strong>
                                        <br>
                                        {{car.condition | truncate:10 }}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Colour: </strong>
                                        <br>
                                        {{car.colour}}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Mileage: </strong>
                                        <br>
                                        {{car.mileage || '0' | number }} Km
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class = "page">
                        <ul uib-pagination
                            total-items = "totalItems"
                            boundary-links = "true"
                            ng-model = "currentPage"
                            max-size = "4"
                            ng-change = "pageChanged()"
                            items-per-page = "itemsPerPage"></ul>
                    </div>
                </div>
                <div class = "contenthome">
                    <h2 class = "mainheader">Your Next Car is Waiting for You</h2>
                    <div class = "col-md-4">
                        <h3>NEWS</h3>
                        <h4>Latest news updates</h4>
                        <div>
                            <img src = "../img/homebutt1.png">
                        </div>
                    </div>
                    <div class = "col-md-4">
                        <h3>BUYING TIPS</h3>
                        <h4>What to look out for</h4>
                        <div>
                            <img src = "../img/homebutt2.png">
                        </div>
                    </div>
                    <div class = "col-md-4">
                        <h3>INSURANCE</h3>
                        <h4>Get a quote today!</h4>
                        <div>
                            <img src = "../img/homebutt3.png">
                        </div>
                    </div>
                </div>
                <div class = "infobox">
                    <h3>Need a red hot Vehicle?</h3>
                    <p>Exclusivity is yours.</p>
                    <div class = "col-md-12">
                        <button class = "btn btn-primary home-showroom"
                                ui-sref = "showroom"
                                href = "#/showroom">Click to view
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class = "col-md-8 center-block ">
    <div class = "row">
        <div ng-include = '"templates/slidershowroom.html"'
             ng-style = "homeBanner"
             class = "slidercontainer"></div>
    </div>
</div>