<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm"
         class = "homecontainer">
    <div class = "row">
        <div class = "container">
            <h1 id = "hometop"
                class = "topheader">Vehicle Sales</h1>
            <p>Our Montague Gardens branch specialises in pre owned Land Rover’s’. Whether you are looking to purchase a good used Land Rover or upgrade your current vehicle – speak to us so we can get you into
                the Land Rover of your dreams. If you simply wish to sell your Land Rover, give our Vehicle Sales department a call and let’s see what we can do for you.
            </p>
            <p>All vehicles are thoroughly checked and have a pre delivery service done by our workshop before leaving the dealership. One is also able to add some of the great Terrafirma accessories and build
                them into your package deal. We offer a complete service including arranging finance, roadworthy and registration. We also offer the option of including a two year mechanical breakdown warranty
                for added peace of mind.
            </p>
        </div>
<<<<<<< HEAD
        <div class = "grad">
            <div class = "filterblock"
                 id = "searchcar">
                <form id = "filters"
                      name = "filters">
                    <div class = "row">
                        <div class = "formgroup col-md-6 pad2">
                            <input type = "text"
                                   class = "searchtext"
                                   ng-model = "searchString"
                                   ng-model-options="{ debounce: 600 }"
                                   ng-change = "searchChanged(carQuantity)"
                                   placeholder = "{{ 'showroom_filterkeyword' | translate }}">
                        </div>
                        <div class = "formgroup col-md-2 pad2">
                            <button type = "button"
                                    class = "btn-primary btn btnfilter_refine"
                                    ng-model = "filterShow"
                                    data-ng-click = "filterShow = !filterShow "
                                    ng-hide = "filterShow">
                                <span>
                                    <i class = "fa fa-angle-down"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'showroom_btn_moreoptions' | translate }}
                            </button>
                            <button type = "button"
                                    class = "btn-primary btn btnfilter_refine"
                                    ng-model = "filterShow"
                                    data-ng-click = "filterShow = !filterShow "
                                    ng-show = "filterShow">
                                <span>
                                    <i class = "fa fa-angle-up"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'showroom_btn_lessoptions' | translate }}
                            </button>
                        </div>
                        <div class = "formgroup col-md-2 pad2">
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "favShow"
                                    ng-init = "totalFav()"
                                    data-ng-click = "favShow = !favShow "
                                    ng-hide = "favShow">
                                <span>
                                    <i class = "fa fa-angle-down"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'fav_btn' | translate }}
                                <div class = "emphasize-compared">{{totalFavs || '0'}}</div>
                            </button>
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "favShow"
                                    ng-init = "totalFav()"
                                    data-ng-click = "favShow = !favShow "
                                    ng-show = "favShow">
                                <span>
                                    <i class = "fa fa-angle-up"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'fav_btn' | translate }}
                                <div class = "emphasize-compared">{{totalFavs || '0'}}</div>
                            </button>
                        </div>
                        <div class = "formgroup col-md-2 pad2">
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "compareShow"
                                    ng-init = "totalCompare()"
                                    data-ng-click = "compareShow = !compareShow "
                                    ng-hide = "compareShow">
                                <span>
                                    <i class = "fa fa-angle-down"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'compare_btn_moreoptions' | translate }}
                                <div class = "emphasize-compared">{{totalCompared || '0'}}</div>
                            </button>
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "compareShow"
                                    ng-init = "totalCompare()"
                                    data-ng-click = "compareShow = !compareShow "
                                    ng-show = "compareShow">
                                <span>
                                    <i class = "fa fa-angle-up"
                                       aria-hidden = "true"></i>
                                </span>
                                {{ 'compare_btn_lessoptions' | translate }}
                                <div class = "emphasize-compared">{{totalCompared || '0'}}</div>
                            </button>
                        </div>
                        <div ng-show = "filterShow"
                             class = "col-sm-12 advanced_search animated fadeInDown">
                            <h4>{{ 'showroom_filterheader2' | translate }}</h4>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'"
                                        ng-model = "selectedMake"
                                        ng-change = "selectChangedMake()">
                                    <option value = "">{{ 'showroom_filtermake' | translate }}</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series'"
                                        ng-model = "selectedSeries"
                                        ng-change = "selectChangedSeries()">
                                    <option value = "">{{ 'showroom_filterseries' | translate }}</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3 ">
                                <select ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                        ng-change = "selectChangedColour()"
                                        ng-model = "selectedColour">
                                    <option value = "">{{ 'showroom_filtercolor' | translate }}</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <label>{{ 'showroom_filterprice' | translate }}</label>
                                <rzslider rz-slider-floor = "rangeslider.floor"
                                          rz-slider-ceil = "rangeslider.ceil"
                                          rz-slider-model = "rangeslider.min"
                                          rz-slider-high = "rangeslider.max"
                                          rz-slider-options = "rangeslider.options"
                                          rz-slider-step = "{{rangeslider.step}}"></rzslider>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.body_type for car in vm.bodytypeData | unique:'body_type' | orderBy: 'body_type'"
                                        ng-model = "selectedBodyType"
                                        ng-change = "selectChangedBodyType()">
                                    <option value = "">{{ 'showroom_filterbody' | translate }}</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-model = "selectedDriveTrain">
                                    <option value = "">{{ 'showroom_filterdrivetrain' | translate }}</option>
                                    <option value = "4x4">4 x 4</option>
                                    <option value = "4x2">4 x 2</option>
                                    <option value = "AWD">AWD</option>
                                    <option value = "FWD">FWD</option>
                                    <option value = "RWD">RWD</option>
                                </select>
=======
    </div>
    <div class = "row colored">
        <div class = "container">
            <div class = "grad">
                <div class = "filterblock"
                     id = "searchcar">
                    <form id = "filters"
                          name = "filters">
                        <div class = "row">
                            <div class = "formgroup col-md-6 pad2">
                                <input type = "text"
                                       class = "searchtext"
                                       ng-model = "searchString"
                                       ng-change = "searchChanged(carQuantity)"
                                       placeholder = "{{ 'showroom_filterkeyword' | translate }}">
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                            </div>
                            <div class = "formgroup col-md-2 pad2">
                                <button type = "button"
                                        class = "btn-primary btn btnfilter_refine"
                                        ng-model = "filterShow"
                                        data-ng-click = "filterShow = !filterShow "
                                        ng-hide = "filterShow">
                                    <span>
                                        <i class = "fa fa-angle-down"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'showroom_btn_moreoptions' | translate }}
                                </button>
                                <button type = "button"
                                        class = "btn-primary btn btnfilter_refine"
                                        ng-model = "filterShow"
                                        data-ng-click = "filterShow = !filterShow "
                                        ng-show = "filterShow">
                                    <span>
                                        <i class = "fa fa-angle-up"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'showroom_btn_lessoptions' | translate }}
                                </button>
                            </div>
                            <div class = "formgroup col-md-2 pad2">
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "favShow"
                                        ng-init = "totalFav()"
                                        data-ng-click = "favShow = !favShow "
                                        ng-hide = "favShow">
                                    <span>
                                        <i class = "fa fa-angle-down"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'fav_btn' | translate }}
                                    <div class = "emphasize-compared">{{totalFavs || '0'}}</div>
                                </button>
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "favShow"
                                        ng-init = "totalFav()"
                                        data-ng-click = "favShow = !favShow "
                                        ng-show = "favShow">
                                    <span>
                                        <i class = "fa fa-angle-up"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'fav_btn' | translate }}
                                    <div class = "emphasize-compared">{{totalFavs || '0'}}</div>
                                </button>
                            </div>
                            <div class = "formgroup col-md-2 pad2">
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "compareShow"
                                        ng-init = "totalCompare()"
                                        data-ng-click = "compareShow = !compareShow "
                                        ng-hide = "compareShow">
                                    <span>
                                        <i class = "fa fa-angle-down"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'compare_btn_moreoptions' | translate }}
                                    <div class = "emphasize-compared">{{totalCompared || '0'}}</div>
                                </button>
                                <button type = "button"
                                        class = "btn-primary btn btnfilter"
                                        ng-model = "compareShow"
                                        ng-init = "totalCompare()"
                                        data-ng-click = "compareShow = !compareShow "
                                        ng-show = "compareShow">
                                    <span>
                                        <i class = "fa fa-angle-up"
                                           aria-hidden = "true"></i>
                                    </span>
                                    {{ 'compare_btn_lessoptions' | translate }}
                                    <div class = "emphasize-compared">{{totalCompared || '0'}}</div>
                                </button>
                            </div>
                            <div ng-show = "filterShow"
                                 class = "col-sm-12 advanced_search animated fadeInDown">
                                <h4>{{ 'showroom_filterheader2' | translate }}</h4>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'"
                                            ng-model = "selectedMake"
                                            ng-change = "selectChangedMake()">
                                        <option value = "">{{ 'showroom_filtermake' | translate }}</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series'"
                                            ng-model = "selectedSeries"
                                            ng-change = "selectChangedSeries()">
                                        <option value = "">{{ 'showroom_filterseries' | translate }}</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3 ">
                                    <select ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                            ng-change = "selectChangedColour()"
                                            ng-model = "selectedColour">
                                        <option value = "">{{ 'showroom_filtercolor' | translate }}</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <label>{{ 'showroom_filterprice' | translate }}</label>
                                    <rzslider rz-slider-floor = "rangeslider.floor"
                                              rz-slider-ceil = "rangeslider.ceil"
                                              rz-slider-model = "rangeslider.min"
                                              rz-slider-high = "rangeslider.max"
                                              rz-slider-options = "rangeslider.options"
                                              rz-slider-step = "{{rangeslider.step}}"></rzslider>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.body_type for car in vm.bodytypeData | unique:'body_type' | orderBy: 'body_type'"
                                            ng-model = "selectedBodyType"
                                            ng-change = "selectChangedBodyType()">
                                        <option value = "">{{ 'showroom_filterbody' | translate }}</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-model = "selectedDriveTrain">
                                        <option value = "">{{ 'showroom_filterdrivetrain' | translate }}</option>
                                        <option value = "4x4">4 x 4</option>
                                        <option value = "4x2">4 x 2</option>
                                        <option value = "AWD">AWD</option>
                                        <option value = "FWD">FWD</option>
                                        <option value = "RWD">RWD</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <select ng-options = "car.condition for car in vm.conditionData | unique:'condition' | orderBy: 'condition'"
                                            ng-model = "selectedCondition"
                                            ng-change = "selectChangedCondition()">
                                        <option value = "">{{ 'showroom_filtercondition' | translate }}</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-3">
                                    <label>{{ 'showroom_filterkm' | translate }}</label>
                                    <rzslider rz-slider-floor = "rangeslidermileage.floor"
                                              rz-slider-ceil = "rangeslidermileage.ceil"
                                              rz-slider-model = "rangeslidermileage.min"
                                              rz-slider-high = "rangeslidermileage.max"
                                              rz-slider-options = "rangeslidermileage.options"
                                              rz-slider-step = "{{rangeslidermileage.step}}"></rzslider>
                                </div>
                                <div class = "formgroup col-sm-12">
                                    <button type = "button"
                                            id = "reset"
                                            class = "btn-primary btn resetbtn"
                                            ng-click = "clearFilter()">
                                        <span>
                                            <i class = "fa fa-refresh"
                                               aria-hidden = "true"></i>
                                        </span>
                                        {{ 'showroom_btn_resetfilter' | translate }}
                                    </button>
                                </div>
                            </div>
                            <div ng-show = "favShow"
                                 class = "col-sm-12 advanced_search animated fadeInDown">
                                <h4>{{ 'showroom_favsheader' | translate }}</h4>
                                <div class = "favs">
                                    <div class = "col-sm-2 col-xs-6"
                                         ng-repeat = "car in favsSaved | unique: 'stock_id'">
                                        <div class = "favpic">
                                            <a class = "remove_fav"
                                               ng-click = "delete($index)">
                                                <img src = "../img/fav_minus.svg">
                                            </a>
                                            <img src = "{{car.url1}}">
                                        </div>
                                        <h5>{{car.make}}</h5>
                                        <a class = "btn btn-primary"
                                           ng-click = "vm.detailsClick(car)">{{ 'showroom_btn_details' | translate }}
                                        </a>
                                    </div>
                                    <h3 class = "center"
                                        ng-show = "!favsSaved.length">{{ 'showroom_noFavsText' | translate }}</h3>
                                </div>
                            </div>
                            <div ng-show = "compareShow"
                                 class = "col-sm-12 advanced_search animated fadeInDown">
                                <h4>{{ 'comp_header1' | translate }}</h4>
                                <div class = "detailscontainer comparecontainer">
                                    <div class = " comparebox"
                                         ng-init = "layoutAdd()"
                                         ng-repeat = "car in compareSaved">
                                        <div class = "favpic">
                                            <a class = "remove_fav"
                                               ng-click = "deleteCompare($index)">
                                                <img src = "../img/fav_minus.svg">
                                            </a>
                                            <img src = "{{car.url1}}">
                                        </div>
                                        <h5>{{car.make}} {{car.variant}}</h5>
                                        <div>
                                            <ul class = "details">
                                                <li>
                                                    <strong>{{ 'comp_year' | translate }}</strong>{{car.year}}
                                                </li>
                                                <li>
                                                    <strong>{{ 'comp_mileage' | translate }}</strong>{{car.mileage || '0' | number }} Km
                                                </li>
                                                <li>
                                                    <strong>{{ 'comp_colour' | translate }}</strong>{{car.colour}}
                                                </li>
                                                <li>
                                                    <strong>{{ 'comp_condition' | translate }}</strong>{{car.condition}}
                                                </li>
                                                <li>
                                                    <strong>{{ 'comp_body' | translate }}</strong>{{car.body_type}}
                                                </li>
                                            </ul>
                                        </div>
                                        <a class = "btn btn-primary"
                                           ng-click = "vm.detailsClick(car)">{{ 'comp_btn_details' | translate }}
                                        </a>
                                    </div>
                                    <h3 class = "center"
                                        ng-show = "!compareSaved.length">{{ 'comp_error' | translate }}</h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
<<<<<<< HEAD
                <div class = "col-md-4 col-sm-6  carbox"
                     id = "{{car.stock_id}}"
                     ng-repeat = "car in Filtered = (vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))
=======
            </div>
            <div class = "row ">
                <div class = "homecontent">
                    <div ng-show = "sr.data.length == 0"
                         class = "fetch">
                        <i class = "fa fa-refresh fa-spin"
                           aria-hidden = "true"></i>
                    </div>
                    <div class = "col-md-4 col-sm-6  carbox"
                         id = "{{car.stock_id}}"
                         ng-repeat = "car in vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                         | filter:filterCars
                         | filter:selectedDriveTrain
                         | filter:minFilter
                         | filter:maxFilter
                         | filter:minmileFilter
<<<<<<< HEAD
                         | filter:maxmileFilter )">
                    <div>
                        <div class = "show_pic">
                            <a class = "xtradetails1"
                               ng-click = "vm.detailsClick(car)">
                                <i class = "fa fa-folder-open"
                                   aria-hidden = "true"></i>
                                <br>
                                {{ 'home_carhover_text' | translate }}
                            </a>
                            <img ng-src = "{{car.url1}}"
                                 src = "../img/nopic.jpg"
                                 onerror = "this.src='../img/nopic.jpg'">
                        </div>
=======
                         | filter:maxmileFilter ">
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                        <div>
                            <div class = "show_pic">
                                <a class = "xtradetails1"
                                   ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-pie-chart"
                                       aria-hidden = "true"></i>
                                    <br>
                                    {{ 'home_carhover_text' | translate }}
                                </a>
                                <img ng-src = "{{car.url1}}"
                                     src = "../img/nopic.jpg"
                                     onerror = "this.src='../img/nopic.jpg'">
                            </div>
                            <div>
                                <h4 class = "homeheading"> {{car.make}} {{car.variant}}
                                    <div class = "btn-optional">
                                        <a type = "button"
                                           class = "favbutton tooltip"
                                           title = "{{ 'showroom_addtoFavsText' | translate }}"
                                           ng-click = "favouriteThis(car)">
                                            <img src = "../img/fav.svg">
                                        </a>
                                    </div>
                                    <div class = "btn-optional2">
                                        <a type = "button"
                                           title = "{{ 'showroom_addtoCompareText' | translate }}"
                                           class = "favbutton tooltip"
                                           id = "favbutton"
                                           ng-click = "compareThis(car)">
                                            <img src = "../img/compare.svg">
                                        </a>
                                    </div>
                                </h4>
                                <div class = "price">{{car.selling_price | currency:'R':0}}</div>
                            </div>
                        </div>
                    </div>
<<<<<<< HEAD
                </div>
                <div ng-hide = "Filtered.length"
                     class = "center">
                    <h3>
                        <i class = "fa fa-exclamation-triangle noprod"
                           aria-hidden = "true"></i>
                        No vehicles for current search options
                    </h3>
                    <p>Please adjust your search criteria</p>
                </div>
                <div class = "page">
                    <div class = "filterblock paging col-xs-12 nopad pull-left">
                        <div class = "formgroup col-sm-4 col-xs-12 nopad  ">
                            <label class = "perpage_label">Show</label>
                            <select class = "perpage"
                                    ng-model = "carQuantity"
                                    ng-disabled = "showAll"
                                    ng-change = "setItemsPerPage(carQuantity)"
                                    ng-init = "carQuantity = perPage.item[0]"
                                    ng-options = "c for c in perPage.item"></select>
                            <label class = "perpage_secondlabel">Vehicles</label>
                        </div>
                        <div class = "formgroup col-sm-4 col-xs-12 nopad ">
                            <label>{{ 'showroom_allvehicles' | translate }}
                                <input type = "checkbox"
                                       ng-model = "showAll"
                                       name = "showAll"
                                       class = "filtercheck">
                            </label>
=======
                    <div class = "page">
                        <div class = "filterblock paging col-xs-12 nopad pull-left">
                            <div class = "formgroup col-sm-4 col-xs-12 nopad  ">
                                <label class = "perpage_label">Show</label>
                                <select class = "perpage"
                                        ng-model = "carQuantity"
                                        ng-disabled = "showAll"
                                        ng-change = "setItemsPerPage(carQuantity)"
                                        ng-init = "carQuantity = perPage.item[0]"
                                        ng-options = "c for c in perPage.item"></select>
                                <label class = "perpage_secondlabel">Vehicles</label>
                            </div>
                            <div class = "formgroup col-sm-4 col-xs-12 nopad ">
                                <label>{{ 'showroom_allvehicles' | translate }}
                                    <input type = "checkbox"
                                           ng-model = "showAll"
                                           name = "showAll"
                                           class = "filtercheck">
                                </label>
                            </div>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                        </div>
                        <ul uib-pagination
                            total-items = "totalItems"
                            boundary-links = "false"
                            ng-model = "currentPage"
                            ng-change = "pageChanged()"
                            items-per-page = "itemsPerPage"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
