<div ui-view = "modal"></div>
<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm" class = "homecontainer" id = "hometop">
    <div class = "row">
        <div class = "col-md-2">
            <div ng-include = '"templates/leftside.html"' ng-style = "right"></div>
        </div>
        <div class = "col-md-8">
            <div class = "row">
                <div class = "contentback">
                    <div ng-show = "sr.data.length == 0" class = "fetch">
                        <i class = "fa fa-refresh fa-spin" aria-hidden = "true"></i>
                    </div>
                    <div class = "filterblock paging col-xs-12">
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <select class = "perpage"
                                    size = "4"
                                    ng-model = "carQuantity"
                                    ng-disabled = "showAll"
                                    ng-change = "setItemsPerPage(carQuantity)"
                                    ng-init = "carQuantity = perPage.item[1]"
                                    ng-options = "c for c in perPage.item">
                            </select>
                        </div>
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <label>
                                ALL VEHICLES
                                <input type = "checkbox" ng-model = "showAll" name = "showAll" class = "filtercheck">
                            </label>
                        </div>
                        <div class = "formgroup sortselect col-md-3 col-xs-12">
                            <select class = "form-control sort" name = "sort" ng-model = "sortBy" ng-change = "sort()">
                                <option value = "">ORDER BY</option>
                                <option value = "{{options.az}}">A - Z</option>
                                <option value = "{{options.za}}">Z - A</option>
                                <option value = "{{options.pricelow}}">Price Lowest</option>
                                <option value = "{{options.pricehigh}}">Price Highest</option>
                                <option value = "{{options.yearlow}}">Year Oldest</option>
                                <option value = "{{options.yearhigh}}">Year Latest</option>
                            </select>
                        </div>
                        <div class = "formgroup col-md-2 col-xs-12 ">
                            <h3 class = "count">Total Vehicles:
                                <span>{{totalItems}}</span>
                            </h3>
                        </div>
                        <div class = "gridlist col-md-2 col-xs-12 pull-right">
                            <a ui-sref = "list"><i class = "fa fa-align-justify" aria-hidden = "true"></i></a>
                            <a ui-sref = "showroom" class = "active"><i class = "fa fa-th" aria-hidden = "true"></i></a>
                        </div>
                    </div>
                    <div class = "col-md-3 col-sm-6  carbox"
                         ng-repeat = "car in vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) |  filter:'Autohaus PE' | orderBy: sortBy">
                        <div class = "borderbox">
                            <div class = "show_pic">
                                <a class = "xtradetails" ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-search" aria-hidden = "true"></i>
                                    <br>
                                    VIEW DETAILS </a>
                                <img ng-src = "{{::car.url1}}" src = "../img/nopic.jpg">
                            </div>
                            <div>
                                <h4 class = "homeheading"> {{::car.make}} {{::car.series}}</h4>
                                <div class = "price">
                                    <h3>{{::car.selling_price | currency: "R":0 }}</h3>
                                </div>
                                <ul class = "details">
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Year: </strong><br>{{::car.year}}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Condition: </strong><br>{{::car.condition}}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Colour: </strong><br>{{::car.colour}}
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Mileage: </strong><br>{{::car.mileage || '0' | number }} Km
                                    </li>
                                    <li class = "col-md-6 col-xs-6">
                                        <strong>Region: </strong><br>{{::car.province}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class = "page">
                        <ul uib-pagination
                            total-items = "totalItems"
                            boundary-links = "true"
                            ng-model = "currentPage"
                            max-size = "4"
                            ng-change = "pageChanged()"
                            items-per-page = "itemsPerPage"></ul>
                    </div>
                </div>
                <div class = "contenthome">
                    <h2 class="mainheader">Your Next Car is Waiting for You</h2>
                    <div class = "col-md-4">
                        <h3>NEWS</h3>
                        <h4>Latest news updates</h4>
                        <div>
                            <img src = "../img/homebutt1.png">
                        </div>
                    </div>
                    <div class = "col-md-4">
                        <h3>BUYING TIPS</h3>
                        <h4>What to look out for</h4>
                        <div>
                            <img src = "../img/homebutt2.png">
                        </div>
                    </div>
                    <div class = "col-md-4">
                        <h3>INSURANCE</h3>
                        <h4>Get a quote today!</h4>
                        <div>
                            <img src = "../img/homebutt3.png">
                        </div>
                    </div>
                </div>
                <div class = "infobox">
                    <h3>Need a red hot Vehicle?</h3>
                    <p>Exclusivity is yours.</p>
                    <div class = "col-md-12">
                        <button class = "btn btn-primary home-showroom" ui-sref = "showroom" href = "#/showroom">Click to view</button>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"' ng-style = "right"></div>
        </div>
    </div>
</section>
<div class = "col-md-8 center-block ">
    <div class = "row">
        <div ng-include = '"templates/slidershowroom.html"' ng-style = "homeBanner" class = "slidercontainer"></div>
    </div>
</div>