<<<<<<< HEAD
<section ng-controller = "showRoomall as vm"
         class = "homecontainer">
    <div class = "container homecontent">
        <div class = "row sliderow">
            <div ng-include = '"/templates/homeslider.html"'></div>
        </div>
        <div class = "row stokistrow ">
            <div class = "col-sm-6 nopad">
                <h3>About Us</h3>
                <p>Established in 1996, LR Service Centre is one of South Africa’s leading independent Land Rover dealers with two branches in Cape Town. We specialise in new and used spares & accessories,
                    pre-owned vehicles as well as vehicle maintenance and repairs. Both branches have workshops equipped with the diagnostics and special tools required to carry out repairs to any Land Rover.
                    Our qualified technicians have many years of experience working on Land Rovers. We understand and share the passion that Land Rover owners have for their vehicles. Our Montague Gardens
                    branch is well placed to service the needs of the Atlantic Seaboard and Northern Suburbs clients & offers Vehicle Sales, Counter Sales & Workshop facilities. Our Southfield Branch branch is
                    easily accessible to clients from the Southern Suburbs & offers Counter Sales & Workshop facilities.
                </p>
            </div>
            <div class = "col-sm-6 nopad_right">
                <h3>Workshop</h3>
                <p>Both branches have large workshops to service all models of Land Rovers as well as been able to fit aftermarket accessories. At LR Service Centre our workshops are equipped with the special
                    tools required to carry out repairs on any Land Rover. We make use of the finest in dedicated Land Rover diagnostics available — the Autologic system. Our qualified highly trained
                    technicians have many years of experience working on Land Rovers.
                </p>
                <p> We understand and share the passion that Land Rover owners have for their vehicles and remain dedicated to everything Land Rover.
                </p>
            </div>
            <div class = "row">
                <h3>Spares & Accessories</h3>
                <div class = "col-sm-3 productbox_home">
                    <div class = "productbox-inner">
                        <div class = "productimg">
                            <img src = "../img/LR027408G_small.jpg">
                        </div>
                        <h4>Air Filter Defender 2.5L Td5</h4>
                        <div class = "pricebox">R146.38</div>
                        <div class = "detailsbox">DETAILS</div>
                    </div>
                </div>
                <div class = "col-sm-3 productbox_home">
                    <div class = "productbox-inner">
                        <div class = "productimg">
                            <img src = "../img/TF116_small.jpg">
                        </div>
                        <h4>Shock Absorber Defender Front</h4>
                        <div class = "pricebox">R888.63</div>
                        <div class = "detailsbox">DETAILS</div>
                    </div>
                </div>
                <div class = "col-sm-3 productbox_home">
                    <div class = "productbox-inner">
                        <div class = "productimg">
                            <img src = "../img/ERR6299_small.jpg">
                        </div>
                        <h4>Rotor Centrifuge 2.5L Td5</h4>
                        <div class = "pricebox">R87.91</div>
                        <div class = "detailsbox">DETAILS</div>
                    </div>
                </div>
                <div class = "col-sm-3 productbox_home">
                    <div class = "productbox-inner">
                        <div class = "productimg">
                            <img src = "../img/TF018_small.jpg">
                        </div>
                        <h4>Spring Coil Terrafirma Medium Load Front</h4>
                        <div class = "pricebox">R2 014.56</div>
                        <div class = "detailsbox">DETAILS</div>
                    </div>
=======
<section ng-controller = "showRoomall as vm">
    <div class = "row">
        <div class = "container blok1">
            <h3 class = "center">Axona de clemens pulchritudine!</h3>
            <p class = "center">Canis raptus nixus est. Ubi est camerarius terror?</p>
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-umbrella"
                       aria-hidden = "true"></i>
                </div>
                <h4>Nunquam anhelare era.</h4>
                <p>Armariums mori in vasa! Peregrinatione nunquam ducunt ad mirabilis fuga. Hercle, historia rusticus!, teres mons! Manducare inciviliter ducunt ad alter buxum.</p>
            </div>
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-street-view"
                       aria-hidden = "true"></i>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                </div>
                <h4>Clinias, bromium, et luna.</h4>
                <p>Cur mensa potus? Volare callide ducunt ad bi-color luba. Ubi est fidelis clabulare? Placidus, secundus cobaltums absolute convertam de gratis, azureus mens.</p>
            </div>
<<<<<<< HEAD
        </div>
        <div class = "row stokistrow">
            <div class = "col-sm-6 nopad">
                <h3>We are importers and suppliers of </h3>
                <div class = "stockistimg">
                    <img src = "../img/allmakes-britpart.jpg">
                </div>
                <div class = "stockistimg">
                    <img src = "../img/bearmach.jpg">
                </div>
                <div class = "stockistimg">
                    <img src = "../img/kam.jpg">
=======
            <div class = "col-sm-4 center">
                <div class = "homeicon">
                    <i class = "fa fa-bar-chart"
                       aria-hidden = "true"></i>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                </div>
                <h4>Cur contencio tolerare.</h4>
                <p>Impositio velums, tanquam primus silva. Musas mori in ferox antverpia! Cum itineris tramitem prarere, omnes scutumes transferre primus, camerarius homoes.</p>
            </div>
<<<<<<< HEAD
            <div class = "col-sm-6 nopad_right">
                <h3>We are stockists of</h3>
                <div class = "stockistimg">
                    <img src = "../img/ctech.jpg">
                </div>
                <div class = "stockistimg">
                    <img src = "../img/arb.jpg">
                </div>
                <div class = "stockistimg">
                    <img src = "../img/madmen.jpg">
                </div>
                <div class = "stockistimg">
                    <img src = "../img/escape.jpg">
                </div>
            </div>
        </div>
        <div class = "row stokistrow">
            <div class = "col-sm-6 nopad">
                <h3>Land Rover Spares & Accessories </h3>
                <div class = "homebutton"> <a ui-sref = "spares">Shop Now</a></div>
                <div class = "sparesimg">
                    <img src = "../img/sparesimg.png">
                </div>
            </div>
            <div class = "col-sm-6 nopad_right">
                <h3>Land Rover vehicle sales</h3>
                <div class = "homebutton">
                    <a ui-sref = "showroom">Showroom</a>
                </div>
                <div class = "salesimg">
                    <img src = "../img/vehicleimg.png">
                </div>
            </div>
        </div>
        <div class = "row homemain">
            <div class = "col-sm-3 nopad">
                <h3>Newsletter</h3>
                <div class = "slidebox">
                    <p>Sign up to our newsletter and be first in line to recieve information about our new products and specials!
                    </p>
                    <div id = "mc_embed_signup">
                        <form action = "//vmgsoftware.us16.list-manage.com/subscribe/post?u=adc76dbf6624df65b4f8dfd31&amp;id=c3ebb95853"
                              method = "post"
                              id = "mc-embedded-subscribe-form"
                              name = "mc-embedded-subscribe-form"
                              class = "validate"
                              target = "_blank"
                              novalidate>
                            <div id = "mc_embed_signup_scroll">
                                <div class = "fb-text form-group">
                                    <input type = "email"
                                           value = ""
                                           name = "EMAIL"
                                           class = "required email form-control"
                                           id = "mce-EMAIL"
                                           placeholder = "{{ 'mailsubscribe_email' | translate }}">
                                </div>
                                <div class = "fb-text form-group col-sm-6">
                                    <input type = "text"
                                           value = ""
                                           name = "FNAME"
                                           class = "form-control"
                                           id = "mce-FNAME"
                                           placeholder = "{{ 'mailsubscribe_name' | translate }}">
                                </div>
                                <div class = "fb-text form-group col-sm-6">
                                    <input type = "text"
                                           value = ""
                                           name = "LNAME"
                                           class = "form-control"
                                           id = "mce-LNAME"
                                           placeholder = "{{ 'mailsubscribe_lastname' | translate }}">
                                </div>
                                <div id = "mce-responses"
                                     class = "clear">
                                    <div class = "response"
                                         id = "mce-error-response"
                                         style = "display:none"></div>
                                    <div class = "response"
                                         id = "mce-success-response"
                                         style = "display:none"></div>
                                </div>
                                <!--real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                                <div style = "position: absolute; left: -5000px;"
                                     aria-hidden = "true">
                                    <input type = "text"
                                           name = "b_adc76dbf6624df65b4f8dfd31_c3ebb95853"
                                           tabindex = "-1"
                                           value = "">
                                </div>
                                <div class = "clear">
                                    <input type = "submit"
                                           value = "{{ 'mailsubscribe_btn' | translate }}"
                                           name = "subscribe"
                                           id = "mc-embedded-subscribe"
                                           class = "btn btn-primary">
                                </div>
                            </div>
                        </form>
=======
        </div>
    </div>
    <div class = "row colored"
         ng-controller = "showRoomall as vm">
        <div class = "container-fluid blok3 ">
            <h3>Latest Vehicles</h3>
            <div ng-show = "sr.data.length == 0"
                 class = "fetch">
                <i class = "fa fa-refresh fa-spin"
                   aria-hidden = "true"></i>
            </div>
            <div class = "col-md-2 col-sm-6  carbox"
                 id = "{{car.stock_id}}"
                 ng-repeat = "car in vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | limitTo:6">
                <div>
                    <div class = "show_pic_home">
                        <a class = "xtradetails1"
                           ng-click = "vm.detailsClick(car)">
                            <i class = "fa fa-pie-chart"
                               aria-hidden = "true"></i>
                            <br>
                            OPEN DETAILED VIEW
                        </a>
                        <img ng-src = "{{car.url1}}"
                             src = "../img/nopic.jpg"
                             onerror = "this.src='../img/nopic.jpg'">
                    </div>
                    <div>
                        <h4 class = "homeheading"> {{car.make}} {{car.variant}} </h4>
                        <div class = "price">{{car.selling_price | currency:'R':0}}</div>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
                    </div>
                </div>
            </div>
            <div class = "col-sm-9 nopad_right">
                <h3>This week's choice!</h3>
                <div class = "col-sm-4 nopad">
                    <img src = "../img/LRS1669-1_large.jpg">
                </div>
                <div class = "col-sm-8 nopad_right featuredcar">
                    <ul>
                        <li><strong>MODEL -</strong> Defender Puma 90 S/W</li>
                        <li><strong>YEAR -</strong> 2008</li>
                        <li><strong>ENGINE -</strong> 2.4</li>
                        <li><strong>TRANSMISSION -</strong> Manual</li>
                        <li><strong>COLOUR -</strong> Grey</li>
                        <li><strong>KILOMETERS -</strong> 106 00</li>
                        <li><strong>SELLING PRICE -</strong> R 359 900.00</li>
                        <li><strong>FULL SERVICE HISTORY</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "container blok2 ">
            <h3>Devirginato altus gluten est!</h3>
            <div class = "col-sm-6 nopadleft">
                <p>Ecce, galatae! Brabeuta neuter guttus est. Paluss peregrinatione in clemens lutetia! Adgium observares, tanquam germanus barcas. Rusticus, talis nuclear vexatum iaceres sapienter quaestio de
                    domesticus, castus accentor. A falsis, uria velox aonides. Nunquam aperto glos. Cur hydra observare? Cum nuptia studere, omnes tuses demitto raptus, fortis gemnaes. Armarium de fatalis fuga,
                    vitare mens! Cum adgium experimentum, omnes lapsuses imperium audax, primus eraes. Diatrias mori in brigantium! Magnum, salvus stellas aliquando manifestum de alter, barbatus hibrida!
                </p>
                <p>Hercle, cannabis barbatus!, mirabilis fuga! Ire vix ducunt ad talis bursa. Ridetis mechanice ducunt ad altus urbs. Vitas sunt eposs de azureus ratione. Heu, altus nuptia! Est clemens
                    clabulare, cesaris. Cedriums persuadere in velox amivadum! Ubi est festus epos? Cum eleates assimilant, omnes indictioes gratia raptus, secundus mineralises.
                </p>
            </div>
            <div class = "col-sm-6 imgblok nopad_right">
                <img src = "../img/Phone-Angle.jpg">
                <img src = "../img/Angled-View.jpg">
            </div>
        </div>
    </div>
</section>

