<section class = "homecontainer">
    <div class = "row">
        <div class = "col-md-2">
            <div ng-include = '"templates/leftside.html"' ng-style = "left"></div>
        </div>
        <div class = "col-md-8">
            <h1 class = "topheader">FUEL FOR THOUGHT – HELPING OTHERS TO WIN </h1>
            <div class = "col-md-9 col-sm-12">
                <p>Bluechip dealers wants to help those in need. There are so many of us in our society that need a helping hand from time to time. BCD would like to be a channel for you to
                   help those less fortunate. Our current campaign is focused on providing food to those in need. Come drop off some tinned food at your nearest BCD.
                </p>
                <p>This month’s draw includes a a smash and grab worth R 5000 etc etc.
                </p>
                <p> We will make sure that your contribution goes to the relevant places where it will provide the greatest value. Once you have dropped off your contribution, please let us
                    know so we can enter you into our monthly draw where you stand a good chance of winning great prizes.
                </p>
            </div>
            <div class = "col-md-3 smallhidden">
                <h3 class="sideheader">MADE YOUR CONTRIBUTION?</h3>
                <h4 class="sideheader">FILL IN YOUR DETAILS TO STAND A CHANCE TO WIN THIS MONTHS PRIZES</h4>
                <form>
                </form>
            </div>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"' ng-style = "right"></div>
        </div>
    </div>
</section>
