<section>
    <div class = "row">
        <div class = "container homecontent">
            <h1 class = "homeheader">Terms and Conditions</h1>
            <h3>Use of Site</h3>
            <p> You may only use this site to browse the content, make legitimate purchases and shall not use this site for any other purposes, including without limitation, to make any speculative, false or
                fraudulent purchase. This site and the content provided in this site may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed. 'Deep-linking', 'embedding' or
                using analogous technology is strictly prohibited. Unauthorized use of this site and/or the materials contained on this site may violate applicable copyright, trademark or other intellectual
                property laws or other laws.
            </p>
            <h3>Disclaimer of Warranty </h3>
            <p>The contents of this site are provided "as is" without warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a purpose and
                non-infringement.
            </p>
            <p>The owner of this site, the authors of these contents and in general anybody connected to this site in any way, from now on collectively called "Providers", assume no responsibility for errors or
                omissions in these contents.
            </p>
            <p>The Providers further do not warrant, guarantee or make any representation regarding the safety, reliability, accuracy, correctness or completeness of these contents. The Providers shall not be
                liable for any direct, indirect, general, special, incidental or consequential damages (including -without limitation- data loss, lost revenues and lost profit) which may result from the
                inability to use or the correct or incorrect use, abuse, or misuse of these contents, even if the Providers have been informed of the possibilities of such damages. The Providers cannot assume
                any obligation or responsibility.
            </p>
            <p>The use of these contents is forbidden in those places where the law does not allow this disclaimer to take full effect.</p>
            <h3>Our Rights</h3>
            <p>We reserve the right to: modify or withdraw, temporarily or permanently, the Website (or any part of) with or without notice to you and you confirm that we shall not be liable to you or any third
                party for any modification to or withdrawal of the Website; and/or change these Conditions from time to time, and your continued use of the Website (or any part of) following such change shall
                be deemed to be your acceptance of such change. It is your responsibility to check regularly to determine whether the Conditions have been changed. If you do not agree to any change to the
                Conditions then you must immediately stop using the Website. We will use our reasonable endeavours to maintain the Website. The Website is subject to change from time to time. You will not be
                eligible for any compensation because you cannot use any part of the Website or because of a failure, suspension or withdrawal of all or part of the Website due to circumstances beyond our
                control.
            </p>
            <h3>Privacy Policy </h3>
            <p>We are committed to protecting your privacy. This privacy policy applies to all the web pages related to this website.</p>
            <p> All the information gathered in the online forms on the website is used to personally identify users that subscribe to this service. The information will not be used for anything other that
                which is stated in the Terms & Conditions of use for this service. None of the information will be sold or made available to anyone.
            </p>
            <p> The Site may collect certain information about your visit, such as the name of the Internet service provider and the Internet Protocol (IP) address through which you access the Internet; the
                date and time you access the Site; the pages that you access while at the Site and the Internet address of the Web site from which you linked directly to our site. This information is used to
                help improve the Site, analyze trends, and administer the Site.
            </p>
            <p>We may need to change this policy from time to time in order to address new issues and reflect changes on our site. We will post those changes here so that you will always know what information
                we gather, how we might use that information, and whether we will disclose that information to anyone. Please refer back to this policy regularly. If you have any questions or concerns about our
                privacy policy, please send us an E-mail.
            </p>
            <p>By using this website, you signify your acceptance of our Privacy Policy. If you do not agree to this policy, please do not use our site. Your continued use of the website following the posting
                of changes to these terms will mean that you accept those changes.
            </p>
            <h3>Cookie/Tracking Technology</h3>
            <p> The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system,
                tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via
                cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information
                may be shared with third parties.
            </p>
            <h3> Third Party Links</h3>
            <p> In an attempt to provide increased value to our Users, we may provide links to other websites or resources. You acknowledge and agree that we are not responsible for the availability of such
                external sites or resources, and do not endorse and are not responsible or liable, directly or indirectly, for the privacy practices or the content (including misrepresentative or defamatory
                content) of such websites, including (without limitation) any advertising, products or other materials or services on or available from such websites or resources, nor for any damage, loss or
                offence caused or alleged to be caused by, or in connection with, the use of or reliance on any such content, goods or services available on such external sites or resources.
            </p>
            <h3> Product Availability</h3>
            <p>Lead time is dependent on stock availability. Should we have stock available, orders will be dispatched within 24 hours on any given business day provided payment is validated/received.</p>
            <p>Should the product not be in stock please allow 10 working days plus freight transit time. This will allow for manufacturing and delivery to our warehouse.</p>
            <p>
                Every effort is made to effect shipment of your order timeously however unforeseen circumstances may cause delays. Should we be faced with such an occurrence LR Service Centre will contact you
                via email and provide a revised shipping schedule.
            </p>
            <h3>Delivery Policy</h3>
            <p> When you click to make a purchase with us legal obligations arise and your right to refund of monies charged to your credit card or paid in any other way agreed by us, are limited by our terms &
                conditions. You must not make any purchase through this site unless you understand and agree all our terms and conditions. Once payment is made for the purchase, it is deemed that you have read
                and understood the terms and conditions for such purchase. If you have any queries please contact us before making any purchase for any service through this website.
            </p>
            <h3> Shipping</h3>
            <p>SA Post Office counter to counter or via courier. Please ensure the correct shipping address is provided from the outset as title and risk will pass to you once the order has left our premises.
                All delivery charges are for the customers account.
            </p>
            <h3> Undeliverable Packages</h3>
            <p>Occasionally packages are returned to us undeliverable. Should this event take place every attempt will be made to contact you to make arrangements for re-shipment?</p>
            <h3> Order Processing</h3>
            <p> Order processing will not begin until we receive a confirmed order and full payment.</p>
            <h3> Refunds/Returns Policy</h3>
            <p> Should you for any reason wish to cancel your purchase you will be liable for a 10% handling fee. You must advise us in writing of your cancellation and any such cancellation must be signed by
                the person who made the original purchase. The goods must be returned to us undamaged in the original packaging within 14 calendar days.
            </p>
            <blockquote> * Note: LR Service Centre recommends that you use Speed Services Couriers (South African Postal Services) or Time Freight for all returns as it offers shipment tracking through a 24 hours customer helpline. Should you choose to use a carrier that does not offer a tracking facility and the goods are lost then no refund or return will be considered. The purchaser shall be liable for cost insured for return of goods supplied.</blockquote>
            <h3> International customers should make use of a courier that offers:</h3>
            <h4>Shipment Tracking.</h4>
            <p> Insure your package for safe return and declare the full value of the shipment failing which loss or damage will be for your account.</p>
            <h4> Payment Options and Pricing</h4>
            <p> All transactions will be processed in South African Rands (ZAR).</p>
            <p> LR Service Centre endeavours to offer you competitive prices on current products; you're total order price will include the price of the purchase plus any applicable tax and shipping charges (on
                the day of shipping).
            </p>
            <p> LR Service Centre reserves the right to change pricing at any time without prior notice.</p>
            <h3> Credit Card</h3>
            We accept MasterCard, Visa, American Express and Diners Club credit cards. If you do not have a credit card please utilise one of the other payment options, or simply log off and return to the site
            at a later time to complete your order. All of your order details will be saved online under in the Your Account section available for use whenever you’re ready! Sorry for the inconvenience.
            <h3>EFT (Electronic Fund Transfer)</h3>
            <p> One of the most widely used ways of sending money online. Once you have added enough items to your shopping cart, proceed to “Checkout” and follow the order processing instructions. Select the
                option to pay via EFT. You will then have to load LR Service Centre as a beneficiary on your internet banking and use the unique order number in the reference line for your payment. This should
                ensure speedy processing and delivery of your selected products.
            </p>
            <h4>Banking Details:</h4>
            <ul>
                <li>Bank: STANDARD BANK</li>
                <li>Branch: KROMBOOM</li>
                <li>Branch No: 026209</li>
                <li>Account Name: LR Service Centre</li>
                <li>Account No: 072897295</li>
                <li>Account Type: Cheque</li>
            </ul>
            <h3>Security Policy</h3>
            <p> Virtual Card Services process all credit card transactions. All credit card transactions are 128 bit Secure Socket Layers (SSL) encrypted. The company registration documents and the site's
                registered domain name are checked and verified by Thawte, ensuring the cardholder and merchant that nobody can impersonate VCS to obtain confidential information.
            </p>
            <p> Virtual Card Services is committed to providing secure online services. All encryption complies with international standards. Encryption is used to protect the transmission of personal
                information when completing online transactions. Virtual Card Services Internet servers are protected by firewalls and intrusion detection systems.
            </p>
            <p> The Merchant does not have access to credit details.</p>
            <p>Virtual Card Services continually reviews and enhances its security in line with technological changes</p>
            <h3> Security Policy</h3>
            <p> We have the right, but not the obligation, to monitor any activity and content associated with the Website. We may investigate any reported violation of these Conditions or complaints and take
                any action that we deem appropriate (which may include, but is not limited to, issuing warnings, suspending, terminating or attaching conditions to your access and/or removing any materials from
                the Website).
            </p>
            <h3>Law</h3>
            <p>The Conditions will be exclusively governed by and construed in accordance with the laws of South Africa whose Courts will have exclusive jurisdiction in any dispute, save that we have the right,
                at our sole discretion, to commence and pursue proceedings in alternative jurisdictions.
            </p>
            <h3> Updating of these Terms and Conditions</h3>
            <p> We reserve the right to change, modify, add to or remove from portions or the whole of these Terms and Conditions from time to time. Changes to these Terms and Conditions will become effective
                upon such changes being posted to this Website. It is the User’s obligation to periodically check these Terms and Conditions at the Website for changes or updates. The User’s continued use of
                this Website following the posting of changes or updates will be considered notice of the User’s acceptance to abide by and be bound by these Terms and Conditions, including such changes or
                updates.
            </p>
            <h3>Consent</h3>
            <p>I understand that all the designs and trademarks are registered to LR Service Centre and hereby accept the terms and conditions. I undertake not to copy/duplicate the trademarks and designs
                directly or indirectly in anyway and understand the legal implications thereof. Should I be found to be in violation of this agreement I understand that I will be held liable for all legal costs
                incurred by LR Service Centre for any civil action or any legal action deemed necessary against me.
            </p>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"'
                 ng-style = "right"></div>
        </div>
    </div>
</section>
