<section class = "homecontainer">
    <div class = "row">
        <div class = "container homecontent">
            <div class = "homeheadercontainer">
                <h1 id = "hometop"
                    class = "homeheader">Workshop</h1>
            </div>
            <div>
                <div class = "row aboutimg">
                    <div class = "nopad">
                        <img src = "../img/workshop-banner.jpg">
                    </div>
                </div>
                <div class = "row">
                    <p>Both branches have large workshops to service all models of Land Rovers as well as been able to fit aftermarket accessories. At LR Service Centre our workshops are equipped with the
                        special tools required to carry out repairs on any Land Rover. We make use of the finest in dedicated Land Rover diagnostics available — the Autologic system. Our qualified highly
                        trained technicians have many years of experience working on Land Rovers. We understand and share the passion that Land Rover owners have for their vehicles and remain dedicated to
                        everything Land Rover.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
