<div ng-hide = "attrs.id">
    <a class = "btn btn-lg btn-primary"
       ng-disabled = "true"
       ng-transclude></a>
</div>
<div ng-show = "attrs.id">
    <div>
        <span ng-show = "quantityMax">
            <select name = "quantity"
                    id = "quantity"
                    class = "quantity"
                    ng-model = "q"
                    ng-options = " v for v in qtyOpt"></select>
        </span>
        <a class = "btn btn-sm btn-primary"
           ng-click = "ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark ng-show = "inCart()">
        <i class = "fa fa-check"
           aria-hidden = "true"></i>
        <a ng-click = "ngCart.removeItemById(id)"
           class = "remove_item"
           style = "cursor: pointer;">
            <i class = "fa fa-times"
               aria-hidden = "true"></i>
        </a>
    </mark>
</div>