<div class = "row">
    <div class = "container">
        <div class = "col-md-9 col-xs-9 pull-left">
            <h2 class = "intro">
                FantasyCars&#8482; now offers a wide range of pre-owned vehicles for sale in South Africa catering to all types of customers...

            </h2>
        </div>
        <div class = "col-md-3 col-xs-3 pull-right">
            <a class = "btn btn-primary pull-right call1butt" ui-sref = "showroom">SHOWROOM <i class = "fa fa-angle-double-right" aria-hidden = "true"></i>
            </a>
        </div>
    </div>
</div>