<div class = "alert alert-warning"
     role = "alert"
     ng-show = "ngCart.getTotalItems() === 0">
    Your cart is empty
</div>
<div class = "table-responsive col-lg-12"
     ng-show = "ngCart.getTotalItems() > 0">
    <table class = "table table-striped ngCart cart">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show = "ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency:"R" }}</td>
        </tr>
        <tr ng-show = "ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td> {{ ngCart.getShipping() | currency:"R" }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style = "font-weight: bold">Total:</td>
            <td style = "font-weight: bold">{{ ngCart.totalCost() | currency:"R" }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat = "item in ngCart.getCart().items track by $index">
            <td>
                <span ng-click = "ngCart.removeItemById(item.getId())"
                      class = "glyphicon glyphicon-remove"></span>
            </td>
            <td>{{ item.getName() }}</td>
            <td>
                <span ng-class = "{'disabled':item.getQuantity()==1}"
                      ng-click = "item.setQuantity(-1, true)">
                    <i class = "fa fa-minus"
                       aria-hidden = "true"></i>
                </span>&nbsp;&nbsp; {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span ng-click = "item.setQuantity(1, true)">
                    <i class = "fa fa-plus"
                       aria-hidden = "true"></i>
                </span>
            </td>
            <td>{{ item.getPrice() | currency:"R"}}</td>
            <td>{{ item.getTotal() | currency:"R" }}</td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click]
    {
        cursor : pointer;
    }
    .ngCart.cart .glyphicon.disabled
    {
        color : #aaa;
    }
</style>