<!--<div ng-if = "service=='http' || service == 'log'">
    <button class = "btn btn-primary"
            ng-click = "checkout()"
            ng-disabled = "!ngCart.getTotalItems()"
            ng-transclude>Checkout
    </button>
</div>-->
<form method = "POST"
      action = "https://www.vcs.co.za/vvonline/vcspay.aspx">
    <input type = "hidden"
           name = "p1"
           value = "VCS Terminal ID">
    <input type = "hidden"
           name = "p2"
           value = "Transaction Reference Number">
    <input type = "hidden"
           name = "p3"
           value = "Description of Goods">
    <input type = "hidden"
           name = "p4"
           value = "Transaction Amount">
    <input type = "submit"
           class = "btn btn-primary"
           value = "Proceed to Payment">
</form><!--
<div ng-if = "service=='paypal'">
    <form action = "https://www.paypal.com/cgi-bin/webscr"
          method = "post"
          target = "_top"
          ng-show = "ngCart.getTotalItems()">
        <input type = "hidden"
               name = "cmd"
               value = "_xclick"/>
        <input type = "hidden"
               name = "business"
               value = "{{ settings.paypal.business }}"/>
        <input type = "hidden"
               name = "lc"
               value = "CA"/>
        <input type = "hidden"
               name = "item_name"
               value = "{{ settings.paypal.item_name }}"/>
        <input type = "hidden"
               name = "item_number"
               value = "{{ settings.paypal.item_number }}"/>
        <input type = "hidden"
               name = "amount"
               value = "{{ ngCart.getSubTotal()}}"/>
        <input type = "hidden"
               name = "currency_code"
               value = "{{ settings.paypal.currency_code }}"/>
        <input type = "hidden"
               name = "button_subtype"
               value = "services"/>
        <input type = "hidden"
               name = "no_note"
               value = "{{ settings.paypal.no_note }}"/>
        <input type = "hidden"
               name = "tax_rate"
               value = "{{ ngCart.getTaxRate()}}"/>
        <input type = "hidden"
               name = "shipping"
               value = "{{ ngCart.getShipping()}}"/>
        <input type = "hidden"
               name = "bn"
               value = "PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest"/>
        <input type = "image"
               src = "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
               border = "0"
               name = "submit"
               alt = "PayPal - The safer, easier way to pay online!"/>
        <img alt = ""
             border = "0"
             src = "https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
             width = "1"
             height = "1"/>
    </form>
</div>-->