<section class = "footersection3"
         ng-style = "credit">
    <div class = "credit">
        <div class = "col">
            <div class = "col-sm-4 center-block bottom20">
                <i class = "fa fa-facebook"
                   aria-hidden = "true"></i>
                <i class = "fa fa-google-plus"
                   aria-hidden = "true"></i>
                <i class = "fa fa-slack"
                   aria-hidden = "true"></i>
                <i class = "fa fa-youtube"
                   aria-hidden = "true"></i>
                <i class = "fa fa-twitter"
                   aria-hidden = "true"></i>
            </div> &copy; 2017 All rights reserved | Powered by
            <a href = "http://www.vmgsoftware.co.za/"
               target = "_blank">VMG Software
            </a>
        </div>
    </div>
    <back-top scroll-speed = "3000"
              button-theme = "dark">
        <i class = "fa fa-angle-double-up"
           aria-hidden = "true"></i>
    </back-top>
</section>