<<<<<<< HEAD
<div class = "container nopad toprow">
    <div class = "navbar-header nopadleft">
        <button type = "button"
                class = "navbar-toggle collapsed"
                data-toggle = "collapse"
                data-target = "#bs-example-navbar-collapse-1"
                aria-expanded = "false">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>
        <a class = "navbar-brand"
           ui-sref = "home">
            <img src = "../img/logo.png">
        </a>
    </div>
    <div class = "col-sm-9 slogan">
        <img src = "../img/brandingback.png">
    </div>
</div>
<nav class = "navbar navbar-default"
     ng-controller = "CartController as vm"
     id = "toptop">
    <div class = "container nopad">
        <div class = "stickymenu"
             hl-sticky = "">
            <div class = "navcolor">
                <div class = "collapse navbar-collapse"

                     data-left = "0"
                     id = "bs-example-navbar-collapse-1">
                    <ul class = "nav navbar-nav navbar-left">
                        <li ui-sref-active = "active">
                            <a ui-sref = "home">Home</a>
                        </li>
                        <li ui-sref-active = "active">
                            <a ui-sref = "spares">Spares and Accessories</a>
                        </li>
                        <li ui-sref-active = "active">
                            <a ui-sref = "showroom">Vehicle Sales</a>
                        </li>
                        <li ui-sref-active = "active">
                            <a ui-sref = "contact">Contact Us</a>
                        </li>
                    </ul>
                    <ul class = "nav navbar-nav navbar-right">

                        <li ui-sref-active = "active">
                            <a class = "btn-user">Login
                            </a>
                        </li>
                        <li ui-sref-active = "active">
                            <a class = "btn-user">My Account
                            </a>
                        </li>
                        <li ui-sref-active = "active">
                            <a ui-sref = "cart"
                               class = "btn-cart">
                                <i class = "fa fa-shopping-cart"
                                   aria-hidden = "true"></i>
                                Your Cart
                                <span> {{ ngCart.getTotalItems() }}
                                    <ng-pluralize count = "ngCart.getTotalItems()"
                                                  when = "{1: 'item', 'other':'items'}"></ng-pluralize>
                                    | {{ ngCart.totalCost() | currency:"R" }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
=======
<nav class = "navbar navbar-default"
     id = "toptop">
    <div class = "container">
        <div class = "navbar-header">
            <button type = "button"
                    class = "navbar-toggle collapsed"
                    data-toggle = "collapse"
                    data-target = "#bs-example-navbar-collapse-1"
                    aria-expanded = "false">
                <span class = "sr-only">Toggle navigation</span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            <a class = "navbar-brand"
               ui-sref = "home">
                [ COMPANY
                <span class = "highlite">LOGO</span>
                ]
            </a>
        </div>
        <div class = "collapse navbar-collapse"
             ng-controller = "showRoomall as vm"
             data-left = "0"
             id = "bs-example-navbar-collapse-1">
            <ul class = "nav navbar-nav navbar-right">
                <li ui-sref-active = "active">
                    <a ui-sref = "home">Home</a>
                </li>
                <li ui-sref-active = "active">
                    <a ui-sref = "about">About Us</a>
                </li>
                <li ui-sref-active = "active">
                    <a ui-sref = "sell_car">Sell Vehicle</a>
                </li>
                <li ui-sref-active = "active">
                    <a ui-sref = "showroom">Vehicle Sales</a>
                </li>
                <li ui-sref-active = "active">
                    <a ui-sref = "contact">Contact Us</a>
                </li>
            </ul>
>>>>>>> dcdee5c360c7673c6d1ce0cd7fafbdbe051bb45b
        </div>
    </div>
</nav>