<section class = "homebanner">
    <div class = "gridoverlay"></div>
    <div class = "homebanner_overlay">
        <img src = "../img/homebanner_overlay.png">
    </div>
    <div class = "container">
        <div class = "bannertext col-sm-4 nopad">
            <h1>COMPANY
                <span class = "highlite">LOGO</span>
            </h1>
            <h2>Brodium de fidelis clinias, captis secula! Idoleums sunt armariums de germanus devatio.</h2>
            <p>Messis velox ducunt ad brevis lamia. Eras unda! Impositio faveres, tanquam emeritis caesium. Est brevis cobaltum, cesaris. Pol, gratis burgus! Rectors mori, tanquam camerarius poeta. Agripeta
                peregrinationess, tanquam raptus lapsus. Sunt axonaes promissio fatalis, fidelis buxumes.
            </p>
            <a type = "button"
               class = "btn btn-primary"
               ui-sref = "showroom">SHOWROOM
            </a>
        </div>
    </div>
    <div id = "video">
        <iframe width = "100%"
                height = "112%"
                src = "https://www.youtube.com/embed/199kg0u-mws?rel=0&controls=0&playlist=199kg0u-mws&loop=1&showinfo=0&autoplay=1&mute=1&start=68&end=225"
                frameborder = "0"
                allowfullscreen ></iframe>
    </div>
</section>
<div ng-style = "callOne"
     class = "row callone">
    <div class = "container nopad">
        <div class = "col-sm-6">
            <h2>Social Media</h2>
            <p>Est grandis uria, cesaris. Fatalis, altus apolloniatess velox fallere de bassus, pius bursa!</p>
        </div>
        <div class = "col-sm-6 i-container">
            <i class = "fa fa-facebook"
               aria-hidden = "true"></i>
            <i class = "fa fa-google-plus"
               aria-hidden = "true"></i>
            <i class = "fa fa-slack"
               aria-hidden = "true"></i>
            <i class = "fa fa-youtube"
               aria-hidden = "true"></i>
            <i class = "fa fa-twitter"
               aria-hidden = "true"></i>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#video').css({width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px'});
        $(window).resize(function () {
            $('#video').css({width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px'});
        });
    });
</script>